<!doctype html>
<html lang="en">
	<head>
		<title>X-CRIPTOZ | Aprende Criptografía</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<!-- VENDOR CSS -->
		<link rel="stylesheet" href="../../../includes/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../../includes/vendor/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="../../../includes/vendor/themify-icons/css/themify-icons.css">
		<link rel="stylesheet" href="../../../includes/vendor/toastr/toastr.min.css">
		<link rel="StyleSheet" href="../../../includes/css/animacionTT/panelFlotante.css">
		<link rel="StyleSheet" href="../../../includes/css/animacionTT/animation.css">
		<!-- MAIN CSS -->
		<link rel="stylesheet" href="../../../includes/css/main.min.css">
		<!-- ICONS -->
		<link rel="apple-touch-icon" sizes="76x76" href="../../../includes/img/apple-iconTT.png">
		<link rel="icon" type="image/png" sizes="96x96" href="../../../includes/img/faviconTT.png">
		<link id="css-skin" rel="stylesheet" href="../../../includes/css/skins/sidebar-nav-darkblue.css" type="text/css">
	</head>
	<body>
		<!-- WRAPPER -->
		<div id="wrapper">
			<!-- NAVBAR -->
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="brand">
					<a href="../../../layouts/main.html">
						<img src="../../../includes/img/logo-white.png" alt="X-CRIPTOZ Logo" class="img-responsive logo">
					</a>
				</div>
				<div class="container-fluid">
					<div id="tour-fullwidth" class="navbar-btn">
						<button type="button" class="btn-toggle-fullwidth btn"><i class="fa fa-bars"></i></button>
					</div>
					<div id="navbar-menu">
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="#" data-toggle="modal" data-target="#creditos">
									<i class="fa fa-address-card-o"></i>
								</a>
							</li>
							<li>
								<a href="http://www.escom.ipn.mx/" target="_blanc">
									<img src="../../../includes/img/escomWhiteMin.png" alt="ESCOM">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<!-- END NAVBAR -->
			<!-- LEFT SIDEBAR -->
			<div id="sidebar-nav" class="sidebar">
				<nav>
					<ul class="nav" id="sidebar-nav-menu">						
						<li class="menu-group">Inicio</li>
						<li><a href="../../../layouts/main.html"><i class="ti-home"></i> <span class="title">Inicio</span></a></li>
						<li><a href="../../../views/archivos/archivos.html"><i class="ti-envelope"></i> <span class="title">Cifrado de archivos</span></a></li>
						<li><a href="../../../views/calculadora/calculadora.html"><i class="ti-panel"></i> <span class="title">Calculadora</span></a></li>
						<li class="panel">
							<a href="#" data-toggle="collapse" data-target="#submenuDemo" data-parent="#sidebar-nav-menu" class="collapsed" aria-expanded="false"><i class="fa fa-superscript"></i> <span class="title">Fundamentos Matemáticos</span><i class="icon-submenu ti-angle-left"></i></a>
							<div id="submenuDemo" class="collapse" aria-expanded="false">
								<ul class="submenu" id="submenu">
									<li class="panel">
										<a href="#SubmenuMatematicaModular" data-toggle="collapse" data-parent="#submenu" class="collapsed" aria-expanded="false"><span class="title">Aritmética Modular</span> <i class="icon-submenu ti-angle-left"></i></a>
										<div id="SubmenuMatematicaModular" class="collapse" aria-expanded="false">
											<ul class="submenu">
												<li><a href="../../../views/matematicaModular/matematicaModular/matematicaModular.html">¿Qué es Aritmética Modular?</a></li>
												<li><a href="../../../views/matematicaModular/sumaModular/sumaModular.html">Suma Modular</a></li>
												<li><a href="../../../views/matematicaModular/multiplicacionModular/multiplicacionModular.html">Multiplicación modular</a></li>
												<li><a href="../../../views/matematicaModular/inversoAditivo/inversoAditivo.html">Inverso aditivo</a></li>
												<li><a href="../../../views/matematicaModular/inversoMultiplicativo/inversoMultiplicativo.html">Inverso multiplicativo</a></li>
												<li><a href="../../../views/matematicaModular/exponenciacionClasica/exponenciacionClasica.html">Exponenciación clásica</a></li>
												<li><a href="../../../views/matematicaModular/exponenciacionBinaria/exponenciacionBinaria.html">Exponenciación binaria</a></li>
												<li><a href="../../../views/matematicaModular/exponenciacionEuler/exponenciacionEuler.html">Exponenciación por Teorema de Euler</a></li>
												<li><a href="../../../views/matematicaModular/algoritmoEuclides/algoritmoEuclides.html">Algoritmo Euclides</a></li>
												<li><a href="../../../views/matematicaModular/phiEuler/phiEuler.html">Phi de Euler</a></li>
												<li><a href="../../../views/matematicaModular/raicesPrimitivas/raicesPrimitivas.html">Raices Primitivas</a></li>
											</ul>
										</div>
									</li>
									<li class="panel">
										<a href="#SubmenuMatrices" data-toggle="collapse" data-parent="#submenu" class="collapsed" aria-expanded="false"><span class="title">Matrices</span> <i class="icon-submenu ti-angle-left"></i></a>
										<div id="SubmenuMatrices" class="collapse" aria-expanded="false">
											<ul class="submenu">
												<li><a href="../../../views/matrices/matrices/matrices.html">Que es una Matriz</a></li>
												<li><a href="../../../views/matrices/multiplicacionMatrices/multiplicacionMatrices.html">Multiplicación de matrices</a></li>
												<li><a href="../../../views/matrices/determinanteMatrices/determinanteMatrices.html">Determinante de una matriz</a></li>
												<li><a href="../../../views/matrices/cofactoresMatrices/cofactoresMatrices.html">Matriz de cofactores</a></li>
												<li><a href="../../../views/matrices/transpuestaMatrices/transpuestaMatrices.html">Transpuesta de una matriz</a></li>
											</ul>
										</div>
									</li>
									<li class="panel">
										<a href="#SubmenuCampoGF2" data-toggle="collapse" data-parent="#submenu" class="collapsed" aria-expanded="false"><span class="title">Campo GF(2<sup>8</sup>)</span> <i class="icon-submenu ti-angle-left"></i></a>
										<div id="SubmenuCampoGF2" class="collapse" aria-expanded="false">
											<ul class="submenu">
												<li><a href="../../../views/campoGF2/convertirGF/convertirGF.html">Elementos en GF(2<sup>8</sup>)</a></li>
												<li><a href="../../../views/campoGF2/sumaGF/sumaGF.html">Suma en GF(2<sup>8</sup>)</a></li>
												<li><a href="../../../views/campoGF2/multiplicacionGF/multiplicacionGF.html">Multiplicación en GF(2<sup>8</sup>)</a></li>
												<li><a href="../../../views/campoGF2/inversoMultiplicativoGF/inversoMultiplicativoGF.html">Inverso multiplicativo en GF(2<sup>8</sup>)</a></li>
											</ul>
										</div>
									</li>
									<li class="panel">
										<a href="#SubmenuCurva" data-toggle="collapse" data-parent="#submenu" class="collapsed" aria-expanded="false"><span class="title">Curva elíptica</span> <i class="icon-submenu ti-angle-left"></i></a>
										<div id="SubmenuCurva" class="collapse" aria-expanded="false">
											<ul class="submenu">
												<li><a href="../../../views/curvaEliptica/curvaEliptica/curvaEliptica.html">¿Qué es la Curva Elíptica?</a></li>
												<li><a href="../../../views/curvaEliptica/sumaPuntos/sumaPuntos.html">Suma de puntos</a></li>
												<li><a href="../../../views/curvaEliptica/dobladoPuntos/dobladoPuntos.html">Doblado de puntos</a></li>
												<li><a href="../../../views/curvaEliptica/obtencionPuntos/obtencionPuntos.html">Obtención de puntos</a></li>
											</ul>
										</div>
									</li>
									<li class="panel">
										<a href="#SubmenuBits" data-toggle="collapse" data-parent="#submenu" class="collapsed" aria-expanded="false"><span class="title">Operaciones a nivel<br>de bits</span> <i class="icon-submenu ti-angle-left"></i></a>
										<div id="SubmenuBits" class="collapse" aria-expanded="false">
											<ul class="submenu">
												<li><a href="../../../views/operacionesBits/operadoresLogicos/operadoresLogicos.html">Operadores lógicos </a></li>
												<li><a href="../../../views/operacionesBits/rotacionBits/rotacionBits.html">Rotación bits</a></li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</li>
						<li class="menu-group">Criptografía clásica</li>
						<li><a href="../../../views/criptografia/clasica/clasica.html"><i class="ti-bookmark-alt"></i> <span class="title">Criptografía clásica</span></a></li>
						<li class="panel">
							<a href="#Monoalfabetica" onclick="sustitucionMonoalfabetica();" data-toggle="collapse" data-parent="#sidebar-nav-menu" class="collapsed" aria-expanded="false"><i class="ti-hummer"></i> <span class="title">Cifrado por sustitución monoalfabética</span> <i class="icon-submenu ti-angle-left"></i></a>
							<div id="Monoalfabetica" class="collapse" aria-expanded="false">
								<ul class="submenu">
									<li><a href="../../../views/monoalfabetica/cesar/cesar.html">Cesar</a></li>
									<li><a href="../../../views/monoalfabetica/atbash/atbash.html">Atbash</a></li>
									<li><a href="../../../views/monoalfabetica/polybios/polybios.html">Polybios</a></li>
									<li><a href="../../../views/monoalfabetica/playfair/playfair.html">Playfair</a></li>
									<li><a href="../../../views/monoalfabetica/afin/afin.html">Afin</a></li>
								</ul>
							</div>
						</li>
						<li class="panel">
							<a href="#Polialfabetica" onclick="sustitucionPolialfabetica();" data-toggle="collapse" data-parent="#sidebar-nav-menu" class="collapsed" aria-expanded="false"><i class="ti-hummer"></i> <span class="title">Cifrado por sustitución polialfabética</span> <i class="icon-submenu ti-angle-left"></i></a>
							<div id="Polialfabetica" class="collapse" aria-expanded="false">
								<ul class="submenu">
									<li><a href="../../../views/polialfabetica/desplazamiento/desplazamiento.html">Desplazamiento</a></li>
									<li><a href="../../../views/polialfabetica/vigenere/vigenere.html">Vigenere</a></li>
									<li><a href="../../../views/polialfabetica/vernam/vernam.html">Vernam</a></li>
									<li><a href="../../../views/polialfabetica/hill/hill.html">Hill</a></li>
								</ul>
							</div>
						</li>
						<li class="panel">
							<a href="#Transposicion" onclick="transposicion();" data-toggle="collapse" data-parent="#sidebar-nav-menu" class="collapsed" aria-expanded="false"><i class="ti-hummer"></i> <span class="title">Cifrado por<br>transposición</span> <i class="icon-submenu ti-angle-left"></i></a>
							<div id="Transposicion" class="collapse" aria-expanded="false">
								<ul class="submenu">
									<li><a href="../../../views/transposicion/rejilla/rejilla.html">Rejilla</a></li>
									<li><a href="../../../views/transposicion/inversa/inversa.html">Inversa</a></li>
									<li><a href="../../../views/transposicion/simple/simple.html">Simple</a></li>
									<li><a href="../../../views/transposicion/riel/riel.html">Por Riel</a></li>
									<li><a href="../../../views/transposicion/columnas/columnas.html">Por Columnas</a></li>
								</ul>
							</div>
						</li>
						<li class="menu-group">Criptografía moderna</li>
						<li><a href="../../../views/criptografia/moderna/moderna.html"><i class="ti-bookmark-alt"></i> <span class="title">Criptografía moderna</span></a></li>
						<li class="panel">
							<a href="#Simetrico" onclick="cifradoSimetrico();" data-toggle="collapse" data-parent="#sidebar-nav-menu" class="collapsed" aria-expanded="false"><i class="ti-shield"></i> <span class="title">Cifrado simétrico</span> <i class="icon-submenu ti-angle-left"></i></a>
							<div id="Simetrico" class="collapse " aria-expanded="false">
								<ul class="submenu">
									<li><a href="../../../views/simetrico/feistel/feistel.html" >Feistel</a></li>
									<li><a href="../../../views/simetrico/des/des.html">DES</a></li>
									<li><a href="../../../views/simetrico/aes/aes.html">AES</a></li>
								</ul>
							</div>
						</li>
						<li class="panel">
							<a href="#Asimetrico" onclick="cifradoAsimetrico();" data-toggle="collapse" data-parent="#sidebar-nav-menu" class="collapsed" aria-expanded="false"><i class="ti-shield"></i> <span class="title">Cifrado asimétrico</span> <i class="icon-submenu ti-angle-left"></i></a>
							<div id="Asimetrico" class="collapse" aria-expanded="false">
								<ul class="submenu">
									<li><a href="../../../views/asimetrico/diffieHellman/diffieHellman.html">Diffie Hellman</a></li>
									<li><a href="../../../views/asimetrico/rsa/rsa.html">RSA</a></li>
									<!-- <li><a href="../../../views/asimetrico/dsa/dsa.html">DSA</a></li> -->
									<li><a href="../../../views/asimetrico/gammal/gammal.html">ElGamal</a></li>
								</ul>
							</div>
						</li>
						<li class="panel">
							<a href="#Hash" onclick="funcionesHash();" data-toggle="collapse" data-parent="#sidebar-nav-menu" class="collapsed" aria-expanded="false"><i class="ti-shield"></i> <span class="title">Funciones Hash</span> <i class="icon-submenu ti-angle-left"></i></a>
							<div id="Hash" class="collapse" aria-expanded="false">
								<ul class="submenu">
									<li><a href="../../../views/hash/md5/md5.html">MD5</a></li>
									<li><a href="../../../views/hash/sha1/sha1.html">SHA-1</a></li>
								</ul>
							</div>
						</li>
						<li class="panel">
							<a href="#Firma" onclick="firmaDigital();" data-toggle="collapse" data-parent="#sidebar-nav-menu" class="active collapsed" aria-expanded="false"><i class="ti-shield"></i> <span class="title">Firma Digital</span> <i class="icon-submenu ti-angle-left"></i></a>
							<div id="Firma" class="collapse" aria-expanded="false">
								<ul class="submenu">
									<li><a href="../../../views/firmas/firmaRsa/firmaRsa.html">Firma RSA</a></li>
									<li><a href="firmaECDSA.html" class="active">Firma ECDSA</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</nav>
			</div>
			<!-- END LEFT SIDEBAR -->
			<!-- MAIN -->
			<div class="main">
				<!-- MAIN CONTENT -->
				<div class="main-content" id="contenidoPagina">
					<div class="content-heading clearfix">
						<ul class="breadcrumb">
							<li><i class="fa fa-home"></i> Criptografía moderna</li>
							<li>Firma Digital</li>
							<li class="active"><a href="#">Firma ECDSA</a></li>
						</ul>
					</div>
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-12">
								<div class="panel">
									<div class="panel-heading" style="background-color: #1c79d2 !important;">
										<h4 class="panel-title" style="color: white !important; font-size: 20px;">Firmar ECDSA</h4>
										<button type="button" class="btn btn-primary" style="float: right; position: relative; top: -0.4em;" onclick="mostrarPanelECDSA();">
											<span>Ver cifrado</span>
											<i class="fa fa-cog fa-spin"></i>
										</button>
									</div>
									<div class="panel-body text-justify">
										<p>Los pasos del estándar ECDSA están, conceptualmente, estrechamente relacionados con el esquema DSA. Sin embargo, su problema de logaritmo discreto se construye en el grupo de una curva elíptica. Por lo tanto, la aritmética a realizar para calcular realmente una firma ECDSA es completamente diferente de la utilizada para DSA.</p>
										<p>El estándar ECDSA se define para curvas elípticas sobre los campos principales <b>Z<sub>p</sub></b> y campo de Galois <b>GF(2<sup>m</sup>)</b>. La primera es a menudo preferida en la práctica, y sólo se introducirá esta en lo que sigue.</p>
										<hr>
										<img src="../../../includes/img/sketch/class-hand-drawn-persons-group.png" width="70" align="middle" class="sketch pull-right">
										<h3 class="text-primary">Generaración de llaves</h3>
										<p>Las llaves para el ECDSA se calculan de la siguiente manera:</p>
										<ol>
											<li>
											Usar una curva elíptica E con:
												<ol>
													<li>
														Módulo <label class="formula2">p</label>.
													</li>
													<li>
														Coeficientes <label class="formula2">a</label> y <label class="formula2">b</label>.
													</li>
													<li>
														Un punto <label class="formula2">A</label> que genera un grupo cíclico de primer orden <label class="formula2">q</label>.
													</li>											
												</ol>
											</li>
											<li>
												Escoger un número aleatorio <label class="formula2">d</label> tal que <label class="formula2">0 &lt; d &lt; q</label>.
											</li>
											<li>
												Calcular <label class="formula2">B = dA</label>.
											</li>
										</ol>
										<p>La llave privada es <label class="formula2">d</label> y la llave pública es <label class="formula2">B</label>.</p>
										<p>Tenga en cuenta que se ha configurado un problema de logaritmo discreto donde el entero <label class="formula2">d</label> es la clave privada y el resultado de la multiplicación escalar, punto <label class="formula2">B</label>, es la clave pública. Similar al DSA, el grupo cíclico tiene un orden q que debe tener un tamaño de al menos 160 bits o más para mayores niveles de seguridad.</p>
										<hr>
										<img src="../../../includes/img/sketch/class-hand-drawn-persons-group.png" width="70" align="middle" class="sketch pull-right">
										<h3 class="text-primary">Generaración de firma</h3>
										<p>Al igual que DSA, una firma ECDSA consiste en un par de números enteros <label class="formula2">(r, s)</label>. Cada valor tiene la misma longitud de bits que <label class="formula2">q</label>, lo que hace que las firmas sean relativamente compactas. Utilizando la clave pública y privada, la firma de un mensaje <label class="formula2">x</label> se calcula de la siguiente manera:</p>
										<ol>
											<li>
												Elija un entero como clave efímera aleatoria <label class="formula2">k<sub>E</sub></label> con <label class="formula2">0 &lt; k<sub>E</sub> &lt; q</label>.
											</li>
											<li>
												Calcular <label class="formula2">R = (k<sub>E</sub>)A</label>.
											</li>
											<li>
												Sea <label class="formula2">r = x<sub>R</sub></label>.
											</li>
											<li>
												Calcular <label class="formula2">s ≡ (h(x)+d·r)k<sub>E</sub><sup>-1</sup> mod q</label>.
											</li>
										</ol>
										<p>En el paso 3, la coordenada <label class="formula2">x</label> del punto <label class="formula2">R</label> se asigna a la variable <label class="formula2">r</label>. Del mensaje <label class="formula2">x</label> se obtiene su hash usando la función <label class="formula2">h&lt;</label> para calcular <label class="formula2">s</label>. La longitud de salida de la función hash debe ser al menos tan larga como <label class="formula2">q</label>. Sin embargo, por ahora es suficiente saber que la función hash comprime <label class="formula2">x</label> y calcula una huella digital que puede ser vista como un representante de <label class="formula2">x</label>.</p>
										<hr>
										<img src="../../../includes/img/sketch/class-hand-drawn-persons-group.png" width="70" align="middle" class="sketch pull-right">
										<h3 class="text-primary">Verificar firma</h3>
										<p>El proceso de verificación de la firma es el siguiente:</p>
										<ol>
											<li>
												Calcular el valor auxiliar <label class="formula2">w ≡ s<sup>-1</sup> mod q</label>.	
											</li>
											<li>
												Calcule el valor auxiliar <label class="formula2">u<sub>1</sub> ≡ w·h(x) mod q</label>.
											</li>
											<li>
												Calcule el valor auxiliar <label class="formula2">u<sub>2</sub> ≡ w·r mod q</label>.
											</li>
											<li>
												Calcule <label class="formula2">P = u<sub>1</sub>A + u<sub>2</sub>B</label>.
											</li>
											<li>										
												Para verificar la firma:<br>
												Si <label class="formula2">x<sub>P</sub> ≡ r mod q</label> la firma es <b>válida</b>, en caso contrario es <b>inválida</b>.
											</li>
										</ol>
										<p>En el último paso, la notación <label class="formula2">x<sub>P</sub></label> indica la coordenada <label class="formula2">x</label> del punto <label class="formula2">P</label>. El verificador acepta una firma <label class="formula2">(r, s)</label> sólo si el <label class="formula2">x<sub>P</sub></label> tiene el mismo valor que el parámetro de firma <label class="formula2">r módulo q</label>. De lo contrario, la firma debe considerarse no válida.</p><br>
										<p>Por ejemplo</p>
										<p>Bob quiere enviar un mensaje a Alice que debe ser firmado con el algoritmo ECDSA. El proceso de firma y verificación es el siguiente:</p>
										<ol>
										<ul>
											<b>Bob</b>:
											<ol>
												<li>
												Escoge <b>E</b> con <label class="formula2">p = 17</label>, <label class="formula2">a = 2</label>, <label class="formula2">b = 2</label>.
												</li>
												<li>
												<label class="formula2">A = (5 , 1)</label> con <label class="formula2">q = 19</label>.
												</li>
												<li>
												Escoge <label class="formula2">d = 7</label>.
												</li>
												<li>
												Calcular <label class="formula2">B = dA = 7·(5 , 1) = (0 , 6)</label>.
												</li>
												<li>
												Calcular el hash del mensaje <label class="formula2">h(x) = 26</label>.
												</li>
												<li>
												Escoger <label class="formula2">k<sub>E</sub> = 10</label>.
												</li>
												<li>
												<label class="formula2">R = 10·(5 , 1) = (7 , 11)</label>.
												</li>
												<li>
												<label class="formula2">r = x<sub>R</sub> = 7</label>.
												</li>
												<li>
												<label class="formula2">s = (26 + 7·7)·2 = 17 mod 19</label>.
												</li>
											</ol>
										</ul>
										<ul>
											<b>Alice</b>:
											<ol>
												<li>
												<label class="formula2">17<sup>-1</sup> = 9 mod 19</label>.
												</li>
												<li>
												<label class="formula2">u<sub>1</sub> = 9·26 = 6 mod 19</label>.
												</li>
												<li>
												<label class="formula2">u<sub>2</sub> = 9·7 = 6 mod 19</label>.
												</li>
												<li>
												<label class="formula2">P = 6·(5 , 1) + 6·(0 , 6) = (7 , 11)</label>.
												</li>
												<li>
												<label class="formula2">x<sub>P</sub> = r mod 19</label>
												</li>
												<li>
												<label class="formula2">x<sub>P</sub> = 7 = r</label>
												</li>
											</ol>
										</ul>
										</ol>
										<p>Por lo tanto la firma es válida.</p>
										<hr>
										<h3 class="text-primary"><img src="../../../includes/img/sketch/pen-hand-draw-tool-with-text-lines.png" width="50" align="middle" class="sketch"> Referencias</h3>								
										<ol>
											<li>Paar C., Pelzl J.. (2010). Understanding Cryptography. Nueva York: Springer-Verlag Berlin Heidelberg. pp.282-285</li>
										</ol>
									</div>
								</div>
							</div>
						</div>						
					</div>
				</div>
				<div class="panel" id="panelInteractivo-CifradoECDSA" style="display: none; margin: 10px 10px 10px;">
					<div class="panel-heading" style="background-color: #1c79d2 !important; height: 47px;">
						<h4 class="panel-title" style="color: white !important; font-size: 20px;">Firmar ECDSA</h4>
						<div class="right" style="margin-left: 20px;">
							<button type="button" class="btn btn-danger btn-sm" onclick="cerrarPanelECDSA();">
								<span>Volver</span>
								<i class="fa fa-arrow-left"></i>
							</button>
						</div>
					</div>
					<div class="panel-body" style="padding-top: 10px;">
						<div class="custom-tabs-line tabs-line-bottom left-aligned">
							<ul class="nav" role="tablist" style="width: 100%;">
								<li class="active" style="width: 50%;"><a href="#cifrarECDSA" data-toggle="tab" class="text-center">Firmar</a></li>
								<li style="width: 50%;"><a href="#verificarECDSA" data-toggle="tab" class="text-center">Verificar</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div id="cifrarECDSA" class="tab-pane fade in active" style="padding: 10px;">							
								<div class="container">
									<div class="row">
										<div class="col-sm-3"></div>
										<div class="col-sm-3 text-primary">Mensaje:
											<div class="form-group">
												<div class="input-group">
													<input class="form-control" type="text" id="textoMensajePlanoECDSACifrado" maxlength="10" placeholder="Mensaje">
												</div>
											</div>										
										</div>										
										<div class="col-sm-3 text-primary">Llave Privada:
											<div class="form-group">
												<div class="input-group">
													<input class="form-control" type="number" id="ECDSApK" min="1" max="28" value="3" placeholder="Escribe el valor de la llave privada">
													<div class="input-group-btn">
														<button type="button" class="btn btn-primary dropdown-toggle btnVelocidadCopiar" id="btn-velocidadCECDSA" data-toggle="dropdown" tabindex="-1" aria-expanded="false">
															<span class="caret"></span>
														</button>
														<ul class="dropdown-menu pull-right" role="menu">
															<li><a id="CifradoRapidoECDSA">Firmar Rápido</a></li>
															<li><a id="CifradoNormalECDSA">Firmar Normal</a></li>
															<!-- <li><a id="CifradoLentoECDSA">Firmar Lento</a></li> -->
														</ul>
														<button class="btn btn-primary accionIniciar" type="button" id="btn-cifrarECDSA-cifrado" tabindex="-1" value="2">Firmar Normal
														</button><button class="btn btn-danger accionCancelar" type="button" id="btn-cancelarCifrarECDSA-cifrado" style="display: none;">Cancelar</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div id="seccionGeneracionLlaves" style="display: none;">
									<div class="alert alert-info" style="display: none; font-weight:bold; text-align: center;" id="informacionECDSAC1"></div>
									<div id="textoSeccionGeneracionLlaves" class="text-center"></div><br>
								</div>
								<div id="seccionGenerarFirma" style="display: none;">
									<div class="alert alert-info" style="display: none; font-weight:bold; text-align: center;" id="informacionECDSAC2"></div>
									<div id="textoSeccionGenerarFirma" class="text-center"></div><br>
								</div>								
								<div class="container">
									<div class="row">
										<div class="col-sm-3"></div>
										<div class="col-sm-3 text-primary">Firma:
											<input type="text" class="form-control" placeholder="Firma" readonly="" id="firmaMensajeECDSAC">
										</div>
										<div class="col-sm-3 text-primary">Llave Pública:
											<input type="text" class="form-control" placeholder="Llave Pública" readonly="" id="llavePublicaECDSAC">
										</div>
									</div>
								</div>
								
						    </div>
						    <div id="verificarECDSA" class="tab-pane fade in" style="padding: 10px;">							
								<div class="container">
									<div class="row">
										<div class="col-sm-3"></div>
										<div class="col-sm-3 text-primary">Mensaje:
											<div class="form-group">
												<div class="input-group">
												<span class="input-group-btn"><button class="btn btn-primary btnVelocidadCopiar" type="button" id="btn-copiarTextoECDSAD" data-toggle="tooltip" title="" data-original-title="Copiar información"><i class="fa fa-clone" aria-hidden="true"></i></button></span>
													<input class="form-control" type="text" id="textoMensajePlanoECDSAV" maxlength="10" placeholder="Mensaje claro">
												</div>
											</div>											
										</div>										
										<div class="col-sm-3 text-primary">Llave Pública:
											<div class="form-group">
												<div class="input-group">
										 			<input class="form-control" type="text" id="llavePublicaECDSAD" maxlength="5" value="4,4">
										 		</div>
										 	</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-3"></div>
										<div class="col-sm-6 text-primary">Firma:
											<div class="form-group">
												<div class="input-group">
										 			<input class="form-control" type="text" id="firmaECDSAD" maxlength="5" value="1,2">
										 			<div class="input-group-btn">
														<button type="button" class="btn btn-primary dropdown-toggle btnVelocidadCopiar" id="btn-velocidadDECDSA" data-toggle="dropdown" tabindex="-1" aria-expanded="false">
															<span class="caret"></span>
														</button>
														<ul class="dropdown-menu pull-right" role="menu">
															<li><a id="DescifradoRapidoECDSA">Verificar Rápido</a></li>
															<li><a id="DescifradoNormalECDSA">Verificar Normal</a></li>
															<!-- <li><a id="DescifradoLentoECDSA">Verificar Lento</a></li> -->
														</ul>
														<button class="btn btn-primary accionIniciar" type="button" id="btn-verificarECDSA-verificar" tabindex="-1" value="2">Verificar Normal</button>
														<button class="btn btn-danger accionCancelar" type="button" id="btn-cancelarVerificarECDSA-verificar" style="display: none;">Cancelar</button>
													</div>
										 		</div>
										 	</div>
										</div>
									</div>
								</div>
								<div id="seccionVerificarFirma" style="display: none;">
									<div class="alert alert-info" style="display: none; font-weight:bold; text-align: center;" id="informacionECDSAD1"></div>
									<div id="textoSeccionVerificarFirma" class="text-center"></div><br>
								</div>
								<div class="container">
									<div class="row">
										<div class="col-sm-3"></div>
										<div class="col-sm-6 text-primary">Firma:
											<input type="text" class="form-control" placeholder="Válida o No Válida" readonly="" id="resultadoVerificacionECDSA">
										</div>
									</div>
								</div>
						    </div>							
						</div>
					</div>
				</div>
				<!-- END MAIN CONTENT -->
			</div>
			<!-- END MAIN -->
			<div class="clearfix"></div>
		</div>
		<!-- END WRAPPER -->
		<!-- Javascript -->
		<script src="../../../includes/vendor/jquery/jquery.min.js"></script>
		<script src="../../../includes/vendor/bootstrap/js/bootstrap.min.js"></script>
		<script src="../../../includes/vendor/toastr/toastr.min.js"></script>
		<script src="../../../includes/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
		<script src="../../../includes/scripts/klorofilpro-common.min.js"></script>
		<script src="../../../includes/scripts/animacionTT/infoTipoCifrados.js"></script>

		<script src="firmaECDSA.js"></script>
		<script src="../../../views/fundamentos/modalFundamentos.js""></script>
		<script src="../../../includes/scripts/animacionTT/animation.js"></script>
		<script src="../../../includes/scripts/animacionTT/BigInteger.min.js"></script>
		<script>
			var togglePanelFundamentos = function(e) {
				e.preventDefault();
				var panel = document.getElementById('panel-fundamentos');
				if (panel.className) panel.className = '';
				else panel.className = 'active';
			}
			$(document).ready(function(){
				$("body").append(modales);
				$("#listaFundamentos .panel-body").slimScroll({height:"600px",wheelStep:20,color:"rgba(160, 174, 186, 1)"});
			});
		</script>
		<div id="panel-fundamentos">
			<div class="panel-row"></div>
			<a href="#" onclick="togglePanelFundamentos(event);" style="background-color: #2b333e;"><i class="fa fa-superscript"></i></a>
			<div id="listaFundamentos">
				<div class="panel-heading">
					<h2 class="panel-title">Fundamentos Matematicos </h2>
				</div>
				<div class="panel-body">
					<nav>
						<span><i class="fa fa-pencil"></i> De la Firma ECDSA</span>
						<ul>
							<li class="file-tag tag-purple"><a href="#" data-toggle="modal" data-target="#modalMatematicaModular">¿Qué es Aritmética Modular?</a></li>
							<li class="file-tag tag-purple"><a href="#" data-toggle="modal" data-target="#modalSumaModular">Suma Modular</a></li>
							<li class="file-tag tag-purple"><a href="#" data-toggle="modal" data-target="#modalInversoMultiplicativo">Inverso multiplicativo</a></li>
							<li class="file-tag tag-yellow"><a href="#" data-toggle="modal" data-target="#modalCurvaEliptica">¿Qué es la Curva Elíptica?</a></li>
							<li class="file-tag tag-yellow"><a href="#" data-toggle="modal" data-target="#modalSumaPuntos">Suma de Puntos</a></li>
						</ul>
						<hr>
						<span><i class="fa fa-pencil custom-text-purple"></i> Aritmética Modular</span>
						<ul>
							<li class="file-tag tag-purple"><a href="#" data-toggle="modal" data-target="#modalMultiplicacionModular">Multiplicación Modular</a></li>
							<li class="file-tag tag-purple"><a href="#" data-toggle="modal" data-target="#modalInversoAditivo">Inverso aditivo</a></li>
							<li class="file-tag tag-purple"><a href="#" data-toggle="modal" data-target="#modalExponenciacionClasica">Exponencicación Clásica</a></li>
							<li class="file-tag tag-purple"><a href="#" data-toggle="modal" data-target="#modalExponenciacionBinaria">Exponencicación Binaria</a></li>
							<li class="file-tag tag-purple"><a href="#" data-toggle="modal" data-target="#modalExponenciacionEuler">Exponencicación por Teorema de Euler</a></li>
							<li class="file-tag tag-purple"><a href="#" data-toggle="modal" data-target="#modalAlgoritmoEuclides">Algoritmo de Euclides</a></li>
							<li class="file-tag tag-purple"><a href="#" data-toggle="modal" data-target="#modalPhiEuler">Phi de Euler</a></li>
							<li class="file-tag tag-purple"><a href="#" data-toggle="modal" data-target="#modalRaicesPrimitivas">Raices Primitivas</a></li>
						</ul>
						<hr>
						<span><i class="fa fa-pencil custom-text-green"></i> Matrices</span>
						<ul>
							<li class="file-tag tag-green"><a href="#" data-toggle="modal" data-target="#modalMatrices"> Que es una Matriz</a></li>
							<li class="file-tag tag-green"><a href="#" data-toggle="modal" data-target="#modalMultiplicacionMatrices">Multiplicacion de matrices</a></li>
							<li class="file-tag tag-green"><a href="#" data-toggle="modal" data-target="#modalDeterminanteMatrices">Determinante de una matriz</a></li>
							<li class="file-tag tag-green"><a href="#" data-toggle="modal" data-target="#modalCofactoresMatrices">Matriz de cofactores</a></li>
							<li class="file-tag tag-green"><a href="#" data-toggle="modal" data-target="#modalTranspuestaMatrices">Transpuesta de una matriz</a></li>
						</ul>
						<hr>
						<span><i class="fa fa-pencil custom-text-red"></i> Campo GF(2<sup>8</sup>)</span>
						<ul>
							<li class="file-tag tag-red"><a href="#" data-toggle="modal" data-target="#modalConvertirGF">Elementos en GF(2<sup>8</sup>)</a></li>
							<li class="file-tag tag-red"><a href="#" data-toggle="modal" data-target="#modalSumaGF">Suma en GF(2<sup>8</sup>)</a></li>
							<li class="file-tag tag-red"><a href="#" data-toggle="modal" data-target="#modalMultiplicacionGF">Multiplicación en GF(2<sup>8</sup>)</a></li>
							<li class="file-tag tag-red"><a href="#" data-toggle="modal" data-target="#modalInversoMultiplicativoGF">Inverso Multiplicativo en GF(2<sup>8</sup>)</a></li>
						</ul>
						<hr>
						<span><i class="fa fa-pencil custom-text-yellow"></i> Curva Elíptica</span>
						<ul>
							<li class="file-tag tag-yellow"><a href="#" data-toggle="modal" data-target="#modalDobladoPuntos">Doblado de Puntos</a></li>
							<li class="file-tag tag-yellow"><a href="#" data-toggle="modal" data-target="#modalObtencionPuntos">Obtención de Putos</a></li>
						</ul>
						<hr>
						<span><i class="fa fa-pencil custom-text-blue"></i> Operaciones a nivel de Bits</span>
						<ul>
							<li class="file-tag tag-blue"><a href="#" data-toggle="modal" data-target="#modalOperadoresLogicos">Operadores lógicos</a></li>
							<li class="file-tag tag-blue"><a href="#" data-toggle="modal" data-target="#modalRotacionBits">Rotación de bits</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<script src="../../../views/matematicaModular/sumaModular/sumaModular.js""></script>
		<script src="../../../views/matematicaModular/multiplicacionModular/multiplicacionModular.js""></script>
		<script src="../../../views/matematicaModular/inversoAditivo/inversoAditivo.js""></script>
		<script src="../../../views/matematicaModular/inversoMultiplicativo/inversoMultiplicativo.js""></script>
		<script src="../../../views/matematicaModular/exponenciacionClasica/exponenciacionClasica.js""></script>
		<script src="../../../views/matematicaModular/exponenciacionBinaria/exponenciacionBinaria.js""></script>
		<script src="../../../views/matematicaModular/exponenciacionEuler/exponenciacionEuler.js""></script>
		<script src="../../../views/matematicaModular/algoritmoEuclides/algoritmoEuclides.js""></script>
		<script src="../../../views/matematicaModular/phiEuler/phiEuler.js""></script>
		<script src="../../../views/campoGF2/convertirGF/convertirGF.js""></script>
		<script src="../../../views/campoGF2/sumaGF/sumaGF.js""></script>
		<script src="../../../views/campoGF2/multiplicacionGF/multiplicacionGF.js""></script>
		<script src="../../../views/campoGF2/inversoMultiplicativoGF/inversoMultiplicativoGF.js""></script>
		<script src="../../../views/curvaEliptica/obtencionPuntos/obtencionPuntos.js""></script>
		<script src="../../../views/curvaEliptica/sumaPuntos/sumaPuntos.js""></script>
		<script src="../../../views/curvaEliptica/dobladoPuntos/dobladoPuntos.js""></script>
		<script src="../../../includes/scripts/animacionTT/mensajes.js""></script>
	</body>
</html>