<!doctype html>
<html lang="en">
	<head>
		<title>X-CRIPTOZ | Aprende Criptografía</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<!-- VENDOR CSS -->
		<link rel="stylesheet" href="../../../includes/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../../includes/vendor/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="../../../includes/vendor/themify-icons/css/themify-icons.css">
		<link rel="stylesheet" href="../../../includes/vendor/toastr/toastr.min.css">
		<link rel="StyleSheet" href="../../../includes/css/animacionTT/panelFlotante.css">
		<link rel="StyleSheet" href="../../../includes/css/animacionTT/animation.css">
		<!-- MAIN CSS -->
		<link rel="stylesheet" href="../../../includes/css/main.min.css">
		<!-- ICONS -->
		<link rel="apple-touch-icon" sizes="76x76" href="../../../includes/img/apple-iconTT.png">
		<link rel="icon" type="image/png" sizes="96x96" href="../../../includes/img/faviconTT.png">
		<link id="css-skin" rel="stylesheet" href="../../../includes/css/skins/sidebar-nav-darkblue.css" type="text/css">
	</head>
	<body>
		<!-- WRAPPER -->
		<div id="wrapper">
			<!-- NAVBAR -->
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="brand">
					<a href="../../../layouts/main.html">
						<img src="../../../includes/img/logo-white.png" alt="X-CRIPTOZ Logo" class="img-responsive logo">
					</a>
				</div>
				<div class="container-fluid">
					<div id="tour-fullwidth" class="navbar-btn">
						<button type="button" class="btn-toggle-fullwidth btn"><i class="fa fa-bars"></i></button>
					</div>
					<div id="navbar-menu">
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="#" data-toggle="modal" data-target="#creditos">
									<i class="fa fa-address-card-o"></i>
								</a>
							</li>
							<li>
								<a href="http://www.escom.ipn.mx/" target="_blanc">
									<img src="../../../includes/img/escomWhiteMin.png" alt="ESCOM">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<!-- END NAVBAR -->
			<!-- LEFT SIDEBAR -->
			<div id="sidebar-nav" class="sidebar">
				<nav>
					<ul class="nav" id="sidebar-nav-menu">						
						<li class="menu-group">Inicio</li>
						<li><a href="../../../layouts/main.html"><i class="ti-home"></i> <span class="title">Inicio</span></a></li>
						<li><a href="../../../views/archivos/archivos.html"><i class="ti-envelope"></i> <span class="title">Cifrado de archivos</span></a></li>
						<li><a href="../../../views/calculadora/calculadora.html"><i class="ti-panel"></i> <span class="title">Calculadora</span></a></li>
						<li class="panel">
							<a href="#" data-toggle="collapse" data-target="#submenuDemo" data-parent="#sidebar-nav-menu" class="collapsed active" aria-expanded="false"><i class="fa fa-superscript"></i> <span class="title">Fundamentos Matemáticos</span><i class="icon-submenu ti-angle-left"></i></a>
							<div id="submenuDemo" class="collapse" aria-expanded="false">
								<ul class="submenu" id="submenu">
									<li class="panel">
										<a href="#SubmenuMatematicaModular" data-toggle="collapse" data-parent="#submenu" class="collapsed" aria-expanded="false"><span class="title">Aritmética Modular</span> <i class="icon-submenu ti-angle-left"></i></a>
										<div id="SubmenuMatematicaModular" class="collapse" aria-expanded="false">
											<ul class="submenu">
												<li><a href="../../../views/matematicaModular/matematicaModular/matematicaModular.html">¿Qué es Aritmética Modular?</a></li>
												<li><a href="../../../views/matematicaModular/sumaModular/sumaModular.html">Suma Modular</a></li>
												<li><a href="../../../views/matematicaModular/multiplicacionModular/multiplicacionModular.html">Multiplicación modular</a></li>
												<li><a href="../../../views/matematicaModular/inversoAditivo/inversoAditivo.html">Inverso aditivo</a></li>
												<li><a href="../../../views/matematicaModular/inversoMultiplicativo/inversoMultiplicativo.html">Inverso multiplicativo</a></li>
												<li><a href="../../../views/matematicaModular/exponenciacionClasica/exponenciacionClasica.html">Exponenciación clásica</a></li>
												<li><a href="../../../views/matematicaModular/exponenciacionBinaria/exponenciacionBinaria.html">Exponenciación binaria</a></li>
												<li><a href="../../../views/matematicaModular/exponenciacionEuler/exponenciacionEuler.html">Exponenciación por Teorema de Euler</a></li>
												<li><a href="../../../views/matematicaModular/algoritmoEuclides/algoritmoEuclides.html">Algoritmo Euclides</a></li>
												<li><a href="../../../views/matematicaModular/phiEuler/phiEuler.html">Phi de Euler</a></li>
												<li><a href="../../../views/matematicaModular/raicesPrimitivas/raicesPrimitivas.html">Raices Primitivas</a></li>
											</ul>
										</div>
									</li>
									<li class="panel">
										<a href="#SubmenuMatrices" data-toggle="collapse" data-parent="#submenu" class="collapsed" aria-expanded="false"><span class="title">Matrices</span> <i class="icon-submenu ti-angle-left"></i></a>
										<div id="SubmenuMatrices" class="collapse" aria-expanded="false">
											<ul class="submenu">
												<li><a href="../../../views/matrices/matrices/matrices.html">Que es una Matriz</a></li>
												<li><a href="../../../views/matrices/multiplicacionMatrices/multiplicacionMatrices.html">Multiplicación de matrices</a></li>
												<li><a href="../../../views/matrices/determinanteMatrices/determinanteMatrices.html">Determinante de una matriz</a></li>
												<li><a href="../../../views/matrices/cofactoresMatrices/cofactoresMatrices.html">Matriz de cofactores</a></li>
												<li><a href="../../../views/matrices/transpuestaMatrices/transpuestaMatrices.html">Transpuesta de una matriz</a></li>
											</ul>
										</div>
									</li>
									<li class="panel">
										<a href="#SubmenuCampoGF2" data-toggle="collapse" data-parent="#submenu" class="collapsed active" aria-expanded="false"><span class="title">Campo GF(2<sup>8</sup>)</span> <i class="icon-submenu ti-angle-left"></i></a>
										<div id="SubmenuCampoGF2" class="collapse" aria-expanded="false">
											<ul class="submenu">
												<li><a href="../../../views/campoGF2/convertirGF/convertirGF.html" class="active">Elementos en GF(2<sup>8</sup>)</a></li>
												<li><a href="../../../views/campoGF2/sumaGF/sumaGF.html">Suma en GF(2<sup>8</sup>)</a></li>
												<li><a href="../../../views/campoGF2/multiplicacionGF/multiplicacionGF.html">Multiplicación en GF(2<sup>8</sup>)</a></li>
												<li><a href="../../../views/campoGF2/inversoMultiplicativoGF/inversoMultiplicativoGF.html">Inverso multiplicativo en GF(2<sup>8</sup>)</a></li>
											</ul>
										</div>
									</li>
									<li class="panel">
										<a href="#SubmenuCurva" data-toggle="collapse" data-parent="#submenu" class="collapsed" aria-expanded="false"><span class="title">Curva elíptica</span> <i class="icon-submenu ti-angle-left"></i></a>
										<div id="SubmenuCurva" class="collapse" aria-expanded="false">
											<ul class="submenu">
												<li><a href="../../../views/curvaEliptica/curvaEliptica/curvaEliptica.html">¿Qué es la Curva Elíptica?</a></li>
												<li><a href="../../../views/curvaEliptica/sumaPuntos/sumaPuntos.html">Suma de puntos</a></li>
												<li><a href="../../../views/curvaEliptica/dobladoPuntos/dobladoPuntos.html">Doblado de puntos</a></li>
												<li><a href="../../../views/curvaEliptica/obtencionPuntos/obtencionPuntos.html">Obtención de puntos</a></li>
											</ul>
										</div>
									</li>
									<li class="panel">
										<a href="#SubmenuBits" data-toggle="collapse" data-parent="#submenu" class="collapsed" aria-expanded="false"><span class="title">Operaciones a nivel<br>de bits</span> <i class="icon-submenu ti-angle-left"></i></a>
										<div id="SubmenuBits" class="collapse" aria-expanded="false">
											<ul class="submenu">
												<li><a href="../../../views/operacionesBits/operadoresLogicos/operadoresLogicos.html">Operadores lógicos </a></li>
												<li><a href="../../../views/operacionesBits/rotacionBits/rotacionBits.html">Rotación bits</a></li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</li>
						<li class="menu-group">Criptografía clásica</li>
						<li><a href="../../../views/criptografia/clasica/clasica.html"><i class="ti-bookmark-alt"></i> <span class="title">Criptografía clásica</span></a></li>
						<li class="panel">
							<a href="#Monoalfabetica" onclick="sustitucionMonoalfabetica();" data-toggle="collapse" data-parent="#sidebar-nav-menu" class="collapsed" aria-expanded="false"><i class="ti-hummer"></i> <span class="title">Cifrado por sustitución monoalfabética</span> <i class="icon-submenu ti-angle-left"></i></a>
							<div id="Monoalfabetica" class="collapse " aria-expanded="false">
								<ul class="submenu">
									<li><a href="../../../views/monoalfabetica/cesar/cesar.html">Cesar</a></li>
									<li><a href="../../../views/monoalfabetica/atbash/atbash.html">Atbash</a></li>
									<li><a href="../../../views/monoalfabetica/polybios/polybios.html">Polybios</a></li>
									<li><a href="../../../views/monoalfabetica/playfair/playfair.html">Playfair</a></li>
									<li><a href="../../../views/monoalfabetica/afin/afin.html">Afin</a></li>
								</ul>
							</div>
						</li>
						<li class="panel">
							<a href="#Polialfabetica" onclick="sustitucionPolialfabetica();" data-toggle="collapse" data-parent="#sidebar-nav-menu" class="collapsed" aria-expanded="false"><i class="ti-hummer"></i> <span class="title">Cifrado por sustitución polialfabética</span> <i class="icon-submenu ti-angle-left"></i></a>
							<div id="Polialfabetica" class="collapse " aria-expanded="false">
								<ul class="submenu">
									<li><a href="../../../views/polialfabetica/desplazamiento/desplazamiento.html">Desplazamiento</a></li>
									<li><a href="../../../views/polialfabetica/vigenere/vigenere.html">Vigenere</a></li>
									<li><a href="../../../views/polialfabetica/vernam/vernam.html">Vernam</a></li>
									<li><a href="../../../views/polialfabetica/hill/hill.html">Hill</a></li>
								</ul>
							</div>
						</li>
						<li class="panel">
							<a href="#Transposicion" onclick="transposicion();" data-toggle="collapse" data-parent="#sidebar-nav-menu" class="collapsed" aria-expanded="false"><i class="ti-hummer"></i> <span class="title">Cifrado por<br>transposición</span> <i class="icon-submenu ti-angle-left"></i></a>
							<div id="Transposicion" class="collapse " aria-expanded="false">
								<ul class="submenu">
									<li><a href="../../../views/transposicion/rejilla/rejilla.html">Rejilla</a></li>
									<li><a href="../../../views/transposicion/inversa/inversa.html">Inversa</a></li>
									<li><a href="../../../views/transposicion/simple/simple.html">Simple</a></li>
									<li><a href="../../../views/transposicion/riel/riel.html">Por Riel</a></li>
									<li><a href="../../../views/transposicion/columnas/columnas.html">Por Columnas</a></li>
								</ul>
							</div>
						</li>
						<li class="menu-group">Criptografía moderna</li>
						<li><a href="../../../views/criptografia/moderna/moderna.html"><i class="ti-bookmark-alt"></i> <span class="title">Criptografía moderna</span></a></li>
						<li class="panel">
							<a href="#Simetrico" onclick="cifradoSimetrico();" data-toggle="collapse" data-parent="#sidebar-nav-menu" class="collapsed" aria-expanded="false"><i class="ti-shield"></i> <span class="title">Cifrado simétrico</span> <i class="icon-submenu ti-angle-left"></i></a>
							<div id="Simetrico" class="collapse" aria-expanded="false">
								<ul class="submenu">
									<li><a href="../../../views/simetrico/feistel/feistel.html">Feistel</a></li>
									<li><a href="../../../views/simetrico/des/des.html">DES</a></li>
									<li><a href="../../../views/simetrico/aes/aes.html">AES</a></li>
								</ul>
							</div>
						</li>
						<li class="panel">
							<a href="#Asimetrico" onclick="cifradoAsimetrico();" data-toggle="collapse" data-parent="#sidebar-nav-menu" class="collapsed" aria-expanded="false"><i class="ti-shield"></i> <span class="title">Cifrado asimétrico</span> <i class="icon-submenu ti-angle-left"></i></a>
							<div id="Asimetrico" class="collapse " aria-expanded="false">
								<ul class="submenu">
									<li><a href="../../../views/asimetrico/diffieHellman/diffieHellman.html">Diffie Hellman</a></li>
									<li><a href="../../../views/asimetrico/rsa/rsa.html">RSA</a></li>
									<!-- <li><a href="../../../views/asimetrico/dsa/dsa.html">DSA</a></li> -->
									<li><a href="../../../views/asimetrico/gammal/gammal.html">ElGamal</a></li>
								</ul>
							</div>
						</li>
						<li class="panel">
							<a href="#Hash" onclick="funcionesHash();" data-toggle="collapse" data-parent="#sidebar-nav-menu" class="collapsed" aria-expanded="false"><i class="ti-shield"></i> <span class="title">Funciones Hash</span> <i class="icon-submenu ti-angle-left"></i></a>
							<div id="Hash" class="collapse " aria-expanded="false">
								<ul class="submenu">
									<li><a href="../../../views/hash/md5/md5.html">MD5</a></li>
									<li><a href="../../../views/hash/sha1/sha1.html">SHA-1</a></li>
								</ul>
							</div>
						</li>
						<li class="panel">
							<a href="#Firma" onclick="firmaDigital();" data-toggle="collapse" data-parent="#sidebar-nav-menu" class="collapsed" aria-expanded="false"><i class="ti-shield"></i> <span class="title">Firma Digital</span> <i class="icon-submenu ti-angle-left"></i></a>
							<div id="Firma" class="collapse " aria-expanded="false">
								<ul class="submenu">
									<li><a href="../../../views/firmas/firmaRsa/firmaRsa.html">Firma RSA</a></li>
									<li><a href="../../../views/firmas/firmaECDSA/firmaECDSA.html">Firma ECDSA</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</nav>
			</div>
			<!-- END LEFT SIDEBAR -->
			<!-- MAIN -->
			<div class="main">
				<!-- MAIN CONTENT -->
				<div class="main-content" id="contenidoPagina">
					<div class="content-heading clearfix">
						<ul class="breadcrumb">
							<li><i class="fa fa-home"></i> Fundamentos Matemáticos</li>
							<li>Campo GF(2<sup>8</sup>)</li>
							<li class="active"><a href="#">Elementos GF(2<sup>8</sup>)</a></li>
						</ul>
					</div>
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-12">
								<div class="panel">
									<div class="panel-heading" style="background-color: #7d3c61 !important;">
										<h4 class="panel-title" style="color: white !important; font-size: 20px;">Elementos GF(2<sup>8</sup>)</h4>
										<button type="button" class="btn btn-primary" style="float: right; position: relative; top: -0.4em;" onclick="mostraroperacionConvertirNP();">
											<span>Ver operación </span>
											<i class="fa fa-cog fa-spin"></i>
										</button>
									</div>
									<div class="panel-body text-justify">
										<img src="../../../includes/img/sketch/maths-on-board.png" width="70" align="middle" class="sketch pull-right">
										<p>Un campo finito, a veces también llamado campo de Galois, es un conjunto con un número finito de elementos. A grandes rasgos, un campo de Galois es un conjunto finito de elementos en los que podemos sumar, restar, multiplicar e invertir. Antes de introducir la definición de un campo, primero se necesita el concepto de una estructura algebraica más simple, un grupo.</p><br>

										<h4 class="text-primary">Grupo</h4>
										<p>Un grupo es un conjunto de elementos <label class="formula2">G</label> junto con una operación <label class="formula2">∘</label> que combina dos elementos de <label class="formula2">G</label>. Un grupo tiene las siguientes propiedades:</p>
										<ol>
										<li>La operación de grupo <label class="formula2">∘</label> es cerrada. Es decir, para todo <label class="formula2">a</label>, <label class="formula2">b</label>, &isin; <label class="formula2">G</label>, sostiene que <label class="formula2">a ∘ b = c &isin; G</label>.</li>
										<li>La operación de grupo es asociativa. Es decir, <label class="formula2">a ∘ (b ∘ c) = (a ∘ b) ∘ c</label> para todo <label class="formula2">a</label>, <label class="formula2">b</label>, <label class="formula2">c &isin; G</label>.</li>
										<li>Existe un elemento <label class="formula2">1 &isin; G</label>, llamado elemento neutro (o elemento de identidad), tal que <label class="formula2">a ∘ 1 = 1 ∘ a = a</label> para todo <label class="formula2">a &isin; G</label>.</li>
										<li>Para cada <label class="formula2">a &isin; G</label> existe un elemento <label class="formula2">a<sup>-1</sup> &isin; G</label>, llamado inverso de <label class="formula2">a</label>, tal que <label class="formula2">a ∘ a<sup>-1</sup> = a<sup>-1</sup> ∘ a = 1</label>.</li>
										<li>Un grupo <label class="formula2">G</label> es conmutativo si, además, <label class="formula2">a ∘ b = b ∘ a</label> para todo <label class="formula2">a</label>, <label class="formula2">b &isin; G</label>.</li>
										</ol>
										<p>Para tener las cuatro operaciones aritméticas básicas (es decir, suma, resta, multiplicación, división) en una estructura, necesitamos un conjunto que contenga un grupo aditivo y un grupo multiplicativo. Esto es lo que llamamos un <b>campo</b>.</p><br>
										<h4 class="text-primary">Campo</h4>
										Un campo <label class="formula2">F</label> es un conjunto de elementos con las siguientes propiedades:<br>
										<ol>
										<li>Todos los elementos de <label class="formula2">F</label> forman un grupo aditivo con la operación de grupo "<b>+</b>" Y el elemento neutro <label class="formula2">0</label>.</li>
										<li>Todos los elementos de <label class="formula2">F</label> excepto <label class="formula2">0</label> forman un grupo multiplicativo con la operación de grupo <label class="formula2">x</label> y el elemento neutro <label class="formula2">1</label>.</li>
										<li>Cuando las dos operaciones del grupo están mezcladas, la ley de distributividad se mantiene, es decir, para todos <label class="formula2">a</label>, <label class="formula2">b</label>, <label class="formula2">c &isin; F: a (b + c) = (ab) + (ac)</label>.</li>
										</ol><br>
										<p>Por ejemplo. El conjunto <label class="formula2">E</label> de números reales es un campo con el elemento neutro <label class="formula2">0</label> para el grupo aditivo y el elemento neutro <label class="formula2">1</label> para el grupo multiplicativo. Cada número real <label class="formula2">a</label> tiene un inverso aditivo, llamado <label class="formula2">-a</label>, y cada elemento no nulo a tiene un inverso multiplicativo <label class="formula2">1/a</label>.</p>
										<p>En la criptografía, casi siempre se está interesado ​​en campos con un número finito de elementos, que llamamos campos finitos o campos de Galois. El número de elementos en el campo se denomina orden o cardinalidad del campo. Es de importancia fundamental el siguiente teorema:</p><br>
										<p align="center"><i>Un campo con orden <label class="formula2">m</label> sólo existe si <label class="formula2">m</label> es una potencia prima, es decir, <label class="formula2">m = p<sup>n</sup></label>, para algún número entero positivo <label class="formula2">n</label> y entero primo <label class="formula2">p</label>. <label class="formula2">p</label> es llamado característica del campo finito.</i></p><br>
										<p>Este teorema implica que existen, por ejemplo, campos finitos con 11 elementos, o con 81 elementos (desde <label class="formula2">81 = 3<sup>4</sup></label>) o con 256 elementos (ya que <label class="formula2">256 = 2<sup>8</sup></label>, y 2 es un primo). Sin embargo, no hay campo finito con 12 elementos desde <label class="formula2">12 = 2<sup>2</sup> · 3</label>, y 12 no es, por lo tanto, una potencia prima.</p><br>
										
										<h3 class="text-primary">Campos primos</h3>
										<p>Los ejemplos más intuitivos de campos finitos son campos de orden primo, es decir, campos con <label class="formula2">n = 1</label>. Los elementos del campo <label class="formula2">GF(p)</label> pueden ser representados por enteros <label class="formula2">0, 1, ... , p-1</label>. Las dos operaciones del campo son la adición entera modular y la multiplicación entera módulo <label class="formula2">p</label>.</p><br>
										<p align="center"><i>Sea <label class="formula2">p</label> un primo. El anillo entero <label class="formula2">Z<sub>p</sub></label> se denomina <label class="formula2">GF(p)</label> y se denomina campo primo, o como campo Galois con un número primo de elementos. Todos los elementos no nulos de <label class="formula2">GF(p)</label> tienen un inverso. La aritmética en <label class="formula2">GF(p)</label> se hace módulo <label class="formula2">p</label></i></p><br>
										<p>Para hacer la aritmética en un campo primo, se deben seguir las reglas para los anillos enteros: La adición y la multiplicación se hacen módulo <label class="formula2">p</label>, el aditivo inverso de cualquier elemento <label class="formula2">a</label> está dado por <label class="formula2">a + (-a) = 0 mod p</label>, y el inverso multiplicativo de cualquier elemento no nulo <label class="formula2">a</label> se define como <label class="formula2">a · a<sup>-1</sup> = 1</label>.</p>
										<p>Por ejemplo. Consideramos el campo finito <label class="formula2">GF(5) = {0, 1, 2, 3, 4}</label>. Las tablas a continuación describen cómo sumar y multiplicar  dos elementos cualquiera, así como el inverso aditivo y multiplicativo de los elementos del campo. Utilizando estas tablas, podemos realizar todos los cálculos en este campo sin utilizar explícitamente la reducción modular.</p>
										<center><img src="../../../includes/img/AES/16.png"></center>
										<center>Tablas de las operaciones aritméticas para <label class="formula2">GF(5)</label></center><br>
										<p>Un campo primo muy importante es <label class="formula2">GF(2)</label>, que es el campo finito más pequeño que existe. Ahora veamos las tablas de multiplicación y suma para el campo.
										Ejemplo. Consideremos el campo finito pequeño <label class="formula2">GF(2) = {0,1}</label>. La aritmética se hace simplemente módulo 2, produciendo las siguientes tablas aritméticas:</p>
										<center><img src="../../../includes/img/AES/17.png"></center>
										<center>Tablas de suma y multiplicación para <label class="formula2">GF(2)</label></center><br>
										
										<h3 class="text-primary">Campos de extensión GF(2<sup>m</sup>)</h3>
										<p>En AES el campo finito contiene 256 elementos y se denomina <label class="formula2">GF(2<sup>8</sup>)</label>. Este campo fue elegido porque cada uno de los elementos de campo puede ser representado por un byte. Para las transformaciones <b>S-Box</b> y <b>MixColumn</b>, AES trata cada byte como un elemento del campo <label class="formula2">GF(2<sup>8</sup>)</label> y manipula los datos realizando la aritmética en este campo finito.</p>
										<p>En el campo <label class="formula2">GF(2<sup>8</sup>)</label>, que se utiliza en AES, cada elemento <label class="formula2">A &isin; GF(2<sup>8</sup>)</label> se representa así:</p>
										<div class="formula">A (x) = a<sub>7</sub>x<sup>7</sup> + ··· + a<sub>1</sub>x + a<sub>0</sub>, a<sub>i</sub></label> &isin; GF(2) = {0,1}</div><br>
										<p>Observe que hay exactamente <label class="formula2">256 = 2<sup>8</sup></label> tales polinomios. El conjunto de estos 256 polinomios es el campo finito <label class="formula2">GF(2<sup>8</sup>)</label>. También es importante observar que cada polinomio puede ser simplemente almacenado en forma digital como un vector de 8 bits <label class="formula2">A = (a<sub>7</sub>, a<sub>6</sub>, a<sub>5</sub>, a<sub>4</sub>, a<sub>3</sub>, a<sub>2</sub>, a<sub>1</sub>, a<sub>0</sub>)</label>. En particular, no tenemos que almacenar los factores <label class="formula2">x<sup>7</sup>, x<sup>6</sup></label>, etc. Está claro que de las posiciones de los bits, a que potencia <label class="formula2">x<sup>i</sup></label> pertenece cada coeficiente.</p>

										<h3 class="text-primary"><img src="../../../includes/img/sketch/pen-hand-draw-tool-with-text-lines.png" width="50" align="middle" class="sketch"> Referencias</h3>
										<ol>
											<li>Christof Paar, Jan Pelzl. (2010). Understanding Cryptography. Berlin Heidelberg: Springer.</li>
										</ol>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel" id="panelInteractivo-operacionConvertirNP" style="display: none; margin: 10px 10px 10px;">
					<div class="panel-heading" style="background-color: #7d3c61 !important; height: 47px;">
						<h4 class="panel-title" style="color: white !important; font-size: 20px;">Elementos GF(2<sup>8</sup>)</h4>
						<div class="right" style="margin-left: 20px;">
							<button type="button" class="btn btn-danger btn-sm" onclick="cerrarPanelOperacionConvertirNP();">
								<span>Volver</span>
								<i class="fa fa-arrow-left"></i>
							</button>
						</div>
					</div>
					<div class="panel-body" style="padding-top: 10px;">
						<div id="operacionConvertirNP">
					    	<div class="container">
								<div class="row">
									<div class="col-sm-4"></div>
									<div class="col-sm-4 text-primary">Número (n):
										<div class="form-group">
											<div class="input-group">
												<input class="form-control" type="number" id="aoperacionConvertirNP" value="1" min="0" max="255">
												<div class="input-group-btn">
													<button type="button" class="btn btn-primary dropdown-toggle btnVelocidadCopiar" id="btn-velocidadOCNP" data-toggle="dropdown" tabindex="-1" aria-expanded="false">
														<span class="caret"></span>
													</button>
													<ul class="dropdown-menu pull-right" role="menu">
														<li><a id="CalcularRapidoOCNP">Calcular Rápido</a></li>
														<li><a id="CalcularNormalOCNP">Calcular Normal</a></li>
													</ul>
													<button class="btn btn-primary accionIniciar" type="button" id="btnCalcularOCNP" tabindex="-1" value="2">Calcular Normal</button>
													<button class="btn btn-danger accionCancelar" type="button" id="btnCancelarOCNP" style="display: none;">Cancelar</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div id="seccionRepresentacionBinariaPolinomiaOCNP" style="display: none;">
								<div class="alert alert-info" style="display: none; font-weight:bold; text-align: center;" id="informacion1OCNP"></div>
								<div id="representacionBinariaOCNP" class="text-center"></div><br>
								<div id="representacionPolinomialOCNP" class="text-center"></div><br>
							</div>
							<div class="container">
								<div class="row">
									<div class="col-sm-4"></div>
									<div class="col-sm-4 text-primary">Resultado:
										<input type="text" class="form-control" placeholder="Resultado" readonly="" id="resultadoOCNP">
									</div>
								</div>
							</div>
					    </div>
					</div>
				</div>
				<!-- END MAIN CONTENT -->
			</div>
			<!-- END MAIN -->
			<div class="clearfix"></div>
		</div>
		<!-- END WRAPPER -->
		<!-- Javascript -->
		<script src="../../../includes/vendor/jquery/jquery.min.js"></script>
		<script src="../../../includes/vendor/bootstrap/js/bootstrap.min.js"></script>
		<script src="../../../includes/vendor/toastr/toastr.min.js"></script>
		<script src="../../../includes/scripts/klorofilpro-common.min.js"></script>
		<script src="../../../includes/scripts/animacionTT/infoTipoCifrados.js"></script>

		<script src="convertirGF.js"></script>
		<script src="../../../includes/scripts/animacionTT/animation.js"></script>
		<script src="../../../includes/scripts/animacionTT/mensajes.js""></script>
	</body>
</html>