<!doctype html>
<html lang="en">
	<head>
		<title>X-CRIPTOZ | Aprende Criptografía</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<!-- VENDOR CSS -->
		<link rel="stylesheet" href="../../../includes/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../../includes/vendor/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="../../../includes/vendor/themify-icons/css/themify-icons.css">
		<link rel="stylesheet" href="../../../includes/vendor/toastr/toastr.min.css">
		<link rel="StyleSheet" href="../../../includes/css/animacionTT/panelFlotante.css">
		<link rel="StyleSheet" href="../../../includes/css/animacionTT/animation.css">
		<!-- MAIN CSS -->
		<link rel="stylesheet" href="../../../includes/css/main.min.css">
		<!-- ICONS -->
		<link rel="apple-touch-icon" sizes="76x76" href="../../../includes/img/apple-iconTT.png">
		<link rel="icon" type="image/png" sizes="96x96" href="../../../includes/img/faviconTT.png">
		<link id="css-skin" rel="stylesheet" href="../../../includes/css/skins/sidebar-nav-darkblue.css" type="text/css">
	</head>
	<body>
		<!-- WRAPPER -->
		<div id="wrapper">
			<!-- NAVBAR -->
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="brand">
					<a href="../../../layouts/main.html">
						<img src="../../../includes/img/logo-white.png" alt="X-CRIPTOZ Logo" class="img-responsive logo">
					</a>
				</div>
				<div class="container-fluid">
					<div id="tour-fullwidth" class="navbar-btn">
						<button type="button" class="btn-toggle-fullwidth btn"><i class="fa fa-bars"></i></button>
					</div>
					<div id="navbar-menu">
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="#" data-toggle="modal" data-target="#creditos">
									<i class="fa fa-address-card-o"></i>
								</a>
							</li>
							<li>
								<a href="http://www.escom.ipn.mx/" target="_blanc">
									<img src="../../../includes/img/escomWhiteMin.png" alt="ESCOM">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<!-- END NAVBAR -->
			<!-- LEFT SIDEBAR -->
			<div id="sidebar-nav" class="sidebar">
				<nav>
					<ul class="nav" id="sidebar-nav-menu">						
						<li class="menu-group">Inicio</li>
						<li><a href="../../../layouts/main.html"><i class="ti-home"></i> <span class="title">Inicio</span></a></li>
						<li><a href="../../../views/archivos/archivos.html"><i class="ti-envelope"></i> <span class="title">Cifrado de archivos</span></a></li>
						<li><a href="../../../views/calculadora/calculadora.html"><i class="ti-panel"></i> <span class="title">Calculadora</span></a></li>
						<li class="panel">
							<a href="#" data-toggle="collapse" data-target="#submenuDemo" data-parent="#sidebar-nav-menu" class="collapsed" aria-expanded="false"><i class="fa fa-superscript"></i> <span class="title">Fundamentos Matemáticos</span><i class="icon-submenu ti-angle-left"></i></a>
							<div id="submenuDemo" class="collapse" aria-expanded="false">
								<ul class="submenu" id="submenu">
									<li class="panel">
										<a href="#SubmenuMatematicaModular" data-toggle="collapse" data-parent="#submenu" class="collapsed" aria-expanded="false"><span class="title">Aritmética Modular</span> <i class="icon-submenu ti-angle-left"></i></a>
										<div id="SubmenuMatematicaModular" class="collapse" aria-expanded="false">
											<ul class="submenu">
												<li><a href="../../../views/matematicaModular/matematicaModular/matematicaModular.html">¿Qué es Aritmética Modular?</a></li>
												<li><a href="../../../views/matematicaModular/sumaModular/sumaModular.html">Suma Modular</a></li>
												<li><a href="../../../views/matematicaModular/multiplicacionModular/multiplicacionModular.html">Multiplicación modular</a></li>
												<li><a href="../../../views/matematicaModular/inversoAditivo/inversoAditivo.html">Inverso aditivo</a></li>
												<li><a href="../../../views/matematicaModular/inversoMultiplicativo/inversoMultiplicativo.html">Inverso multiplicativo</a></li>
												<li><a href="../../../views/matematicaModular/exponenciacionClasica/exponenciacionClasica.html">Exponenciación clásica</a></li>
												<li><a href="../../../views/matematicaModular/exponenciacionBinaria/exponenciacionBinaria.html">Exponenciación binaria</a></li>
												<li><a href="../../../views/matematicaModular/exponenciacionEuler/exponenciacionEuler.html">Exponenciación por Teorema de Euler</a></li>
												<li><a href="../../../views/matematicaModular/algoritmoEuclides/algoritmoEuclides.html">Algoritmo Euclides</a></li>
												<li><a href="../../../views/matematicaModular/phiEuler/phiEuler.html">Phi de Euler</a></li>
												<li><a href="../../../views/matematicaModular/raicesPrimitivas/raicesPrimitivas.html">Raices Primitivas</a></li>
											</ul>
										</div>
									</li>
									<li class="panel">
										<a href="#SubmenuMatrices" data-toggle="collapse" data-parent="#submenu" class="collapsed" aria-expanded="false"><span class="title">Matrices</span> <i class="icon-submenu ti-angle-left"></i></a>
										<div id="SubmenuMatrices" class="collapse" aria-expanded="false">
											<ul class="submenu">
												<li><a href="../../../views/matrices/matrices/matrices.html">Que es una Matriz</a></li>
												<li><a href="../../../views/matrices/multiplicacionMatrices/multiplicacionMatrices.html">Multiplicación de matrices</a></li>
												<li><a href="../../../views/matrices/determinanteMatrices/determinanteMatrices.html">Determinante de una matriz</a></li>
												<li><a href="../../../views/matrices/cofactoresMatrices/cofactoresMatrices.html">Matriz de cofactores</a></li>
												<li><a href="../../../views/matrices/transpuestaMatrices/transpuestaMatrices.html">Transpuesta de una matriz</a></li>
											</ul>
										</div>
									</li>
									<li class="panel">
										<a href="#SubmenuCampoGF2" data-toggle="collapse" data-parent="#submenu" class="collapsed" aria-expanded="false"><span class="title">Campo GF(2<sup>8</sup>)</span> <i class="icon-submenu ti-angle-left"></i></a>
										<div id="SubmenuCampoGF2" class="collapse" aria-expanded="false">
											<ul class="submenu">
												<li><a href="../../../views/campoGF2/convertirGF/convertirGF.html">Elementos en GF(2<sup>8</sup>)</a></li>
												<li><a href="../../../views/campoGF2/sumaGF/sumaGF.html">Suma en GF(2<sup>8</sup>)</a></li>
												<li><a href="../../../views/campoGF2/multiplicacionGF/multiplicacionGF.html">Multiplicación en GF(2<sup>8</sup>)</a></li>
												<li><a href="../../../views/campoGF2/inversoMultiplicativoGF/inversoMultiplicativoGF.html">Inverso multiplicativo en GF(2<sup>8</sup>)</a></li>
											</ul>
										</div>
									</li>
									<li class="panel">
										<a href="#SubmenuCurva" data-toggle="collapse" data-parent="#submenu" class="collapsed" aria-expanded="false"><span class="title">Curva elíptica</span> <i class="icon-submenu ti-angle-left"></i></a>
										<div id="SubmenuCurva" class="collapse" aria-expanded="false">
											<ul class="submenu">
												<li><a href="../../../views/curvaEliptica/curvaEliptica/curvaEliptica.html">¿Qué es la Curva Elíptica?</a></li>
												<li><a href="../../../views/curvaEliptica/sumaPuntos/sumaPuntos.html">Suma de puntos</a></li>
												<li><a href="../../../views/curvaEliptica/dobladoPuntos/dobladoPuntos.html">Doblado de puntos</a></li>
												<li><a href="../../../views/curvaEliptica/obtencionPuntos/obtencionPuntos.html">Obtención de puntos</a></li>
											</ul>
										</div>
									</li>
									<li class="panel">
										<a href="#SubmenuBits" data-toggle="collapse" data-parent="#submenu" class="collapsed" aria-expanded="false"><span class="title">Operaciones a nivel<br>de bits</span> <i class="icon-submenu ti-angle-left"></i></a>
										<div id="SubmenuBits" class="collapse" aria-expanded="false">
											<ul class="submenu">
												<li><a href="../../../views/operacionesBits/operadoresLogicos/operadoresLogicos.html">Operadores lógicos </a></li>
												<li><a href="../../../views/operacionesBits/rotacionBits/rotacionBits.html">Rotación bits</a></li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</li>
						<li class="menu-group">Criptografía clásica</li>
						<li><a href="../../../views/criptografia/clasica/clasica.html"><i class="ti-bookmark-alt"></i> <span class="title">Criptografía clásica</span></a></li>
						<li class="panel">
							<a href="#Monoalfabetica" onclick="sustitucionMonoalfabetica();" data-toggle="collapse" data-parent="#sidebar-nav-menu" class="collapsed" aria-expanded="false"><i class="ti-hummer"></i> <span class="title">Cifrado por sustitución monoalfabética</span> <i class="icon-submenu ti-angle-left"></i></a>
							<div id="Monoalfabetica" class="collapse" aria-expanded="false">
								<ul class="submenu">
									<li><a href="../../../views/monoalfabetica/cesar/cesar.html">Cesar</a></li>
									<li><a href="../../../views/monoalfabetica/atbash/atbash.html">Atbash</a></li>
									<li><a href="../../../views/monoalfabetica/polybios/polybios.html">Polybios</a></li>
									<li><a href="../../../views/monoalfabetica/playfair/playfair.html">Playfair</a></li>
									<li><a href="../../../views/monoalfabetica/afin/afin.html">Afin</a></li>
								</ul>
							</div>
						</li>
						<li class="panel">
							<a href="#Polialfabetica" onclick="sustitucionPolialfabetica();" data-toggle="collapse" data-parent="#sidebar-nav-menu" class="collapsed" aria-expanded="false"><i class="ti-hummer"></i> <span class="title">Cifrado por sustitución polialfabética</span> <i class="icon-submenu ti-angle-left"></i></a>
							<div id="Polialfabetica" class="collapse" aria-expanded="false">
								<ul class="submenu">
									<li><a href="../../../views/polialfabetica/desplazamiento/desplazamiento.html">Desplazamiento</a></li>
									<li><a href="../../../views/polialfabetica/vigenere/vigenere.html">Vigenere</a></li>
									<li><a href="../../../views/polialfabetica/vernam/vernam.html">Vernam</a></li>
									<li><a href="../../../views/polialfabetica/hill/hill.html">Hill</a></li>
								</ul>
							</div>
						</li>
						<li class="panel">
							<a href="#Transposicion" onclick="transposicion();" data-toggle="collapse" data-parent="#sidebar-nav-menu" class="collapsed" aria-expanded="false"><i class="ti-hummer"></i> <span class="title">Cifrado por<br>transposición</span> <i class="icon-submenu ti-angle-left"></i></a>
							<div id="Transposicion" class="collapse" aria-expanded="false">
								<ul class="submenu">
									<li><a href="../../../views/transposicion/rejilla/rejilla.html">Rejilla</a></li>
									<li><a href="../../../views/transposicion/inversa/inversa.html">Inversa</a></li>
									<li><a href="../../../views/transposicion/simple/simple.html">Simple</a></li>
									<li><a href="../../../views/transposicion/riel/riel.html">Por Riel</a></li>
									<li><a href="../../../views/transposicion/columnas/columnas.html">Por Columnas</a></li>
								</ul>
							</div>
						</li>
						<li class="menu-group">Criptografía moderna</li>
						<li><a href="../../../views/criptografia/moderna/moderna.html"><i class="ti-bookmark-alt"></i> <span class="title">Criptografía moderna</span></a></li>
						<li class="panel">
							<a href="#Simetrico" onclick="cifradoSimetrico();" data-toggle="collapse" data-parent="#sidebar-nav-menu" class="collapsed" aria-expanded="false"><i class="ti-shield"></i> <span class="title">Cifrado simétrico</span> <i class="icon-submenu ti-angle-left"></i></a>
							<div id="Simetrico" class="collapse " aria-expanded="false">
								<ul class="submenu">
									<li><a href="../../../views/simetrico/feistel/feistel.html" >Feistel</a></li>
									<li><a href="../../../views/simetrico/des/des.html">DES</a></li>
									<li><a href="../../../views/simetrico/aes/aes.html">AES</a></li>
								</ul>
							</div>
						</li>
						<li class="panel">
							<a href="#Asimetrico" onclick="cifradoAsimetrico();" data-toggle="collapse" data-parent="#sidebar-nav-menu" class="collapsed" aria-expanded="false"><i class="ti-shield"></i> <span class="title">Cifrado asimétrico</span> <i class="icon-submenu ti-angle-left"></i></a>
							<div id="Asimetrico" class="collapse" aria-expanded="false">
								<ul class="submenu">
									<li><a href="../../../views/asimetrico/diffieHellman/diffieHellman.html">Diffie Hellman</a></li>
									<li><a href="../../../views/asimetrico/rsa/rsa.html">RSA</a></li>
									<!-- <li><a href="../../../views/asimetrico/dsa/dsa.html">DSA</a></li> -->
									<li><a href="../../../views/asimetrico/gammal/gammal.html">ElGamal</a></li>
								</ul>
							</div>
						</li>
						<li class="panel">
							<a href="#Hash" onclick="funcionesHash();" data-toggle="collapse" data-parent="#sidebar-nav-menu" class="active collapsed" aria-expanded="false"><i class="ti-shield"></i> <span class="title">Funciones Hash</span> <i class="icon-submenu ti-angle-left"></i></a>
							<div id="Hash" class="collapse" aria-expanded="false">
								<ul class="submenu">
									<li><a href="../../../views/hash/md5/md5.html">MD5</a></li>
									<li><a href="sha1.html" class="active">SHA-1</a></li>
								</ul>
							</div>
						</li>
						<li class="panel">
							<a href="#Firma" onclick="firmaDigital();" data-toggle="collapse" data-parent="#sidebar-nav-menu" class="collapsed" aria-expanded="false"><i class="ti-shield"></i> <span class="title">Firma Digital</span> <i class="icon-submenu ti-angle-left"></i></a>
							<div id="Firma" class="collapse " aria-expanded="false">
								<ul class="submenu">
									<li><a href="../../../views/firmas/firmaRsa/firmaRsa.html">Firma RSA</a></li>
									<li><a href="../../../views/firmas/firmaECDSA/firmaECDSA.html">Firma ECDSA</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</nav>
			</div>
			<!-- END LEFT SIDEBAR -->
			<!-- MAIN -->
			<div class="main">
				<!-- MAIN CONTENT -->
				<div class="main-content" id="contenidoPagina">
					<div class="content-heading clearfix">
						<ul class="breadcrumb">
							<li><i class="fa fa-home"></i> Criptografía moderna</li>
							<li>Funciones Hash</li>
							<li class="active"><a href="#">MD5</a></li>
						</ul>
					</div>
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-12">
								<div class="panel">
									<div class="panel-heading" style="background-color: #1c79d2 !important;">
										<h4 class="panel-title" style="color: white !important; font-size: 20px;">Función Hash SHA-1</h4>
										<button type="button" class="btn btn-primary" style="float: right; position: relative; top: -0.4em;" onclick="mostrarPanelSHA1();">
											<span>Ver cifrado</span>
											<i class="fa fa-cog fa-spin"></i>
										</button>
									</div>
									<div class="panel-body text-justify">
										<p>El algoritmo Secure Hash (SHA-1) es la función de resumen de mensajes más utilizada de la familia MD4. Aunque se han propuesto nuevos ataques contra el algoritmo, es muy instructivo mirar sus detalles porque las versiones más fuertes en la familia SHA-2 muestran una estructura interna muy similar.</p>
										<p>Las rondas de SHA-1 son bastante similares a un cifrado de bloques Feistel.</p>
										<p>SHA-1 produce una salida de 160 bits de un mensaje con una longitud máxima de 2<sup>64</sup> bits. Antes del cálculo del hash, el algoritmo tiene que preprocesar el mensaje.</p><br>
										<img src="../../../includes/img/sketch/class-hand-drawn-persons-group.png" width="70" align="middle" class="sketch pull-right">
										<h3 class="text-primary">Preprocesamiento</h3>
										<p>Antes del cálculo de hash real, el mensaje <b>X</b> tiene que ser rellenado para ajustarse a un tamaño de un múltiplo de <b>512 bits</b>. Para el procesamiento interno, el mensaje rellenado debe entonces dividirse en bloques. Además, el valor inicial <label class="formula2">H<sub>0</sub></label> se establece en una constante predefinida.</p>
										<h5 class="text-primary">Padding</h5>
										<p>Supongamos que tenemos un mensaje <b>X</b> con una longitud de <b>l</b> bits. Para obtener un tamaño de mensaje global de un múltiplo de 512 bits, añadimos un "<b>1</b>" seguido de <b>k</b> bits cero y la representación binaria de 64 bits de <b>l</b>. Por consiguiente, el número de ceros requeridos <b>k</b> viene dado por:</p>
										<div class="formula">K ≡ 512-64-1-l = 448- (l+1) mod 512.</div><br>
										<p>La figura 1 ilustra el relleno de un mensaje x.</p>
										<center><img src="../../../includes/img/SHA1/2.png"></center>
										<center>Figura 1: Relleno de un mensaje X</center><br>
										<p>Ejemplo 1. Dado el mensaje <b>abc</b> que consta de tres caracteres ASCII de 8 bits con una longitud total de <label class="formula2">l = 24</label> bits:</p>
										<center><img src="../../../includes/img/SHA1/3.png"></center>
										<center>Figura 2: Representación binaria de "abc"</center><br>
										<p>Agregamos un "<b>1</b>" seguido de <label class="formula2">k = 423</label> bits cero, donde <b>k</b> está determinado por:</p>
										<p align="center"><label class="formula2">k ≡ 448−(l +1) = 448−25 = 423 mod 512</label></p>
										<p>Finalmente, añadimos el valor de 64 bits que contiene la representación binaria de la longitud <label class="formula2">l = 24<sub>10</sub> = 11000<sub>2</sub></label>. El mensaje rellenado es entonces dado por:</p>
										<center><img src="../../../includes/img/SHA1/4.png"></center>
										<center>Figura 3: Relleno de un mensaje</center><br>
										<h5 class="text-primary">Dividir el mensaje rellenado</h5>
										<p>Antes de aplicar la función de compresión, se necesita dividir el mensaje en bloques de 512 bits <label class="formula2">x<sub>1</sub>, x<sub>2</sub> , ... , x<sub>n</sub></label>. Cada bloque de 512 bits se puede subdividir en 16 palabras de tamaño de 32 bits. Por ejemplo, el i-ésimo bloque del mensaje x se divide en:</p>
										<div class="formula">x<sub>i</sub>= (x<sub>i</sub><sup>(0)</sup>x<sub>i</sub><sup>(1)</sup>...x<sub>i</sub><sup>(15)</sup>)</div>
										<p>donde <label class="formula2">x<sub>i</sub><sup>(k)</sup></label> son palabras de 32 bits.</p>
										<h5 class="text-primary">Valor inicial H<sub>0</sub></h5>
										<p>Se utiliza un búfer de 160 bits para contener el valor de hash inicial para la primera iteración. Las cinco palabras de 32 bits son fijas y se dan en notación hexadecimal:</p>
										<center><label class="formula2">
										A= H<sub>0</sub><sup>(0)</sup>= 67452301<br>
										B= H<sub>0</sub><sup>(1)</sup>= EFCDAB89<br>
										C= H<sub>0</sub><sup>(2)</sup>= 98BADCFE<br>
										D= H<sub>0</sub><sup>(3)</sup>= 10325476<br>
										E= H<sub>0</sub><sup>(4)</sup>= C3D2E1F0
										</label></center><br>
										<h4 class="text-primary">Cálculo Hash</h4>
										<p>Cada bloque de mensajes <label class="formula2">x<sub>i</sub></label> se procesa en cuatro etapas con 20 rondas cada una como se muestra en la Figura 5. El algoritmo utiliza:</p>
										<ol>
											<li>
											Un programa de mensajes que calcula una palabra de 32 bits <label class="formula2">W<sub>0</sub> , W<sub>1</sub> , ... , W<sub>79</sub></label> para cada una de las 80 rondas. Las palabras <label class="formula2">W<sub>j</sub></label> se derivan del bloque de mensaje de 512 bits como sigue:<br>
											<center><img src="../../../includes/img/SHA1/5.png"></center>
											<center>Figura 4</center><br>
											Donde <label class="formula2">X<sub>&lt;&lt;&lt;n</sub></label> indica un desplazamiento circular a la izquierda de la palabra X por n posiciones de bit.
											</li>
											<li>
											Cinco registros de trabajo de tamaño de 32 bits: <label class="formula2">A</label>, <label class="formula2">B</label>, <label class="formula2">C</label>, <label class="formula2">D</label>, <label class="formula2">E</label>
											</li>
											<li>
											Un valor de hash <label class="formula2">H<sub>i</sub></label> que consta de cinco palabras de 32 bits <label class="formula2">H<sub>i</sub><sup>(0)</sup></label>, <label class="formula2">H<sub>i</sub><sup>(1)</sup></label>, <label class="formula2">H<sub>i</sub><sup>(2)</sup></label>, <label class="formula2">H<sub>i</sub><sup>(3)</sup></label>, <label class="formula2">H<sub>i</sub><sup>(4)</sup></label>. Al principio, el valor hash contiene el valor inicial <label class="formula2">H<sub>0</sub></label>, que se sustituye por un nuevo valor hash después del procesamiento de cada bloque de mensaje. El valor final hash <label class="formula2">H<sub>n</sub></label> es igual a la salida <b>h(x)</b> de SHA-1.
											</li>
										</ol>
										<center><img src="../../../includes/img/SHA1/6.png" style="border: 1px solid #d2d2d2;"></center>
										<center>Figura 5</center><br>
										<p>Las cuatro etapas SHA-1 tienen una estructura similar pero utilizan diferentes funciones internas <label class="formula2">f<sub>t</sub></label> y constantes <label class="formula2">K<sub>t</sub></label>, donde <label class="formula2">1 ≤ t ≤ 4</label>. Cada etapa está compuesta de 20 rondas, donde partes del bloque de mensajes son procesadas por la función <label class="formula2">f<sub>t</sub></label> junto con algunas constantes dependientes de la etapa <label class="formula2">K<sub>t</sub></label>. La salida después de 80 rondas se agrega al valor de entrada <label class="formula2">H<sub>i-1</sub> módulo 2<sup>32</sup></label> en forma de palabras.</p>
										<p>La operación de la ronda <b>j</b> en la etapa <b>t</b> viene dada por:</p>
										<center><img src="../../../includes/img/SHA1/7.png"></center>
										<center>Figura 6</center><br>
										<p>Y como se muestra en la figura 7. Las funciones internas <label class="formula2">f<sub>t</sub></label> y constantes <label class="formula2">K<sub>t</sub></label> cambian:</p>
										<center><img src="../../../includes/img/SHA1/8.png"></center>
										<center>Figura 7</center><br>
										<p>Dependiendo de la etapa de acuerdo con la Tabla 1, es decir, cada 20 rondas se está utilizando una nueva función y una nueva constante. La función sólo utiliza operaciones booleanas bit a bit, es decir, <b>AND</b> lógico (∧), <b>OR</b> (∨), <b>NOT</b> (barra superior) y <b>XOR</b>. Estas operaciones se aplican a variables de 32 bits y son muy rápidas de implementar en PCs modernas.</p>
										<center><img src="../../../includes/img/SHA1/9.png"></center>
										<center>Tabla 1</center><br>
										<h3 class="text-primary"><img src="../../../includes/img/sketch/pen-hand-draw-tool-with-text-lines.png" width="50" align="middle" class="sketch"> Referencias</h3>								
										<ol>
											<li>Paar C., Pelzl J.. (2010). Understanding Cryptography. Nueva York: Springer-Verlag Berlin Heidelberg. pp.307-311</li>
										</ol>
									</div>
								</div>
							</div>
						</div>						
					</div>
				</div>
				<div class="panel" id="panelInteractivo-CifradoSHA1" style="display: none; margin: 10px 10px 10px;">
					<div class="panel-heading" style="background-color: #1c79d2 !important; height: 47px;">
						<h4 class="panel-title" style="color: white !important; font-size: 20px;">Función Hash SHA-1</h4>
						<div class="right" style="margin-left: 20px;">
							<button type="button" class="btn btn-danger btn-sm" onclick="cerrarPanelSHA1();">
								<span>Volver</span>
								<i class="fa fa-arrow-left"></i>
							</button>
						</div>
					</div>
					<div class="panel-body" style="padding-top: 10px;">
						<div class="custom-tabs-line tabs-line-bottom left-aligned">
							<ul class="nav" role="tablist" style="width: 100%;">
								<li class="active" style="width: 100%;"><a href="#cifrarSHA1" data-toggle="tab" class="text-center">Función</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div id="cifrarSHA1" class="tab-pane fade active in" style="padding: 10px;">
						    	<div class="container">
									<div class="row">										
										<div class="col-sm-3"></div>
										<div class="col-sm-6 text-primary">Texto claro:
											<div class="form-group">
												<div class="input-group">
													<input class="form-control" type="text" id="textoMensajePlanoSHA1Cifrado" placeholder="Texto claro">
													<div class="input-group-btn">
														<button type="button" class="btn btn-primary dropdown-toggle btnVelocidadCopiar" id="btn-velocidadCSHA1" data-toggle="dropdown" tabindex="-1" aria-expanded="false">
															<span class="caret"></span>
														</button>
														<ul class="dropdown-menu pull-right" role="menu">
															<li><a id="CifradoRapidoSHA1">Obtener Hash Rápido</a></li>
															<li><a id="CifradoNormalSHA1">Obtener Hash Normal</a></li>
															<!-- <li><a id="CifradoLentoSHA1">Obtener Hash Lento</a></li> -->
														</ul>
														<button class="btn btn-primary accionIniciar" type="button" id="btn-cifrarSHA1-cifrado" tabindex="-1" value="2">Obtener Hash Normal</button>
														<button class="btn btn-danger accionCancelar" type="button" id="btn-cancelarCifrarSHA1-cifrado" style="display: none;">Cancelar</button>
													</div>
												</div>
											</div>
										</div>
									</div>										
								</div>
								<div id="SeccionRepresentaciónBinariaMensaje" style="display: none;">
									<div class="alert alert-info" style="display: none; font-weight:bold; text-align: center;" id="informacionSHA1C"></div>
									<div id="textoPlanoBinarioC" class="text-center"></div><br>
								</div>
								<div id="SeccionPaddingC" style="display: none;">
									<div class="alert alert-info" style="display: none; font-weight:bold; text-align: center;" id="informacionSHA2C"></div>
								</div>
								<div id="SeccionDivisionBloquesPalabras" style="display: none;">
									<div class="alert alert-info" style="display: none; font-weight:bold; text-align: center;" id="informacionSHA3C"></div>
									<div id="bloquesSha1C" class="text-center"></div><br>
								</div>
								<div id="SeccionHashInicial" style="display: none;">
									<div class="alert alert-info" style="display: none; font-weight:bold; text-align: center;" id="informacionSHA4C"></div>
									<div id="abcdeHash" class="text-center"></div><br>
								</div>
								<div id="SeccionProcesoHASH" style="display: none;">
									<div class="alert alert-info" style="display: none; font-weight:bold; text-align: center;" id="informacionSHA5C"></div>
									<div id="calculoPalabras" class="text-center"></div><br>
									<table class="table" id="contantesyRondas" style="font-weight:bold; text-align: center; display: none;">
										<tbody>
											<tr id="TitulosR"></tr> 
											<tr id="Ronda1"></tr> 
											<tr id="Ronda2"></tr>
											<tr id="Ronda3"></tr>
											<tr id="Ronda4"></tr>
										</tbody>
									</table>
									<table class="table" id="resultadosHash" style="font-weight:bold; text-align: center; display: none;">
										<tbody>
											<tr><td><div class="text-center">Valores iniciales:</div></td><td><div class="text-center">Valores calculados:</div></td></tr>
											<tr><td><div id="resultadosHashV" class="text-center"></div></td><td><div id="resultadosHashN" class="text-center"></div></td></tr>
										</tbody>
									</table>
								</div>
								<div id="SeccionFinalHash" style="display: none;">
									<div class="alert alert-info" style="display: none; font-weight:bold; text-align: center;" id="informacionSHA6C"></div>
									<div id="ultimaOperacion" class="text-center"></div><br>
								</div>
								<div class="container">
									<div class="row">
										<div class="col-sm-3"></div>
										<div class="col-sm-6 text-primary">Hash:
											<input type="text" class="form-control" placeholder="Hash" readonly="" id="textoCifradoSHA1C">
										</div>
									</div>
								</div>
						    </div>
						</div>
					</div>
				</div>
				<!-- END MAIN CONTENT -->
			</div>
			<!-- END MAIN -->
			<div class="clearfix"></div>
		</div>
		<!-- END WRAPPER -->
		<!-- Javascript -->
		<script src="../../../includes/vendor/jquery/jquery.min.js"></script>
		<script src="../../../includes/vendor/bootstrap/js/bootstrap.min.js"></script>
		<script src="../../../includes/vendor/toastr/toastr.min.js"></script>
		<script src="../../../includes/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
		<script src="../../../includes/scripts/klorofilpro-common.min.js"></script>
		<script src="../../../includes/scripts/animacionTT/infoTipoCifrados.js"></script>

		<script src="sha1.js"></script>
		<script src="../../../views/fundamentos/modalFundamentos.js""></script>
		<script src="../../../includes/scripts/animacionTT/animation.js"></script>
		<script src="../../../includes/scripts/animacionTT/BigInteger.min.js"></script>
		<script>
			var togglePanelFundamentos = function(e) {
				e.preventDefault();
				var panel = document.getElementById('panel-fundamentos');
				if (panel.className) panel.className = '';
				else panel.className = 'active';
			}
			$(document).ready(function(){
				$("body").append(modales);
				$("#listaFundamentos .panel-body").slimScroll({height:"600px",wheelStep:20,color:"rgba(160, 174, 186, 1)"});
			});
		</script>
		<div id="panel-fundamentos">
			<div class="panel-row"></div>
			<a href="#" onclick="togglePanelFundamentos(event);" style="background-color: #2b333e;"><i class="fa fa-superscript"></i></a>
			<div id="listaFundamentos">
				<div class="panel-heading">
					<h2 class="panel-title">Fundamentos Matematicos </h2>
				</div>
				<div class="panel-body">
					<nav>
						<span><i class="fa fa-pencil"></i> De la Función SHA-1</span>
						<ul>
							<li class="file-tag tag-blue"><a href="#" data-toggle="modal" data-target="#modalOperadoresLogicos">Operadores lógicos</a></li>
							<li class="file-tag tag-blue"><a href="#" data-toggle="modal" data-target="#modalRotacionBits">Rotación de bits</a></li>
						</ul>
						<hr>
						<span><i class="fa fa-pencil custom-text-purple"></i> Aritmética Modular</span>
						<ul>
							<li class="file-tag tag-purple"><a href="#" data-toggle="modal" data-target="#modalMatematicaModular">¿Qué es Aritmética Modular?</a></li>
							<li class="file-tag tag-purple"><a href="#" data-toggle="modal" data-target="#modalSumaModular">Suma Modular</a></li>
							<li class="file-tag tag-purple"><a href="#" data-toggle="modal" data-target="#modalMultiplicacionModular">Multiplicación Modular</a></li>
							<li class="file-tag tag-purple"><a href="#" data-toggle="modal" data-target="#modalInversoAditivo">Inverso aditivo</a></li>
							<li class="file-tag tag-purple"><a href="#" data-toggle="modal" data-target="#modalInversoMultiplicativo">Inverso multiplicativo</a></li>
							<li class="file-tag tag-purple"><a href="#" data-toggle="modal" data-target="#modalExponenciacionClasica">Exponencicación Clásica</a></li>
							<li class="file-tag tag-purple"><a href="#" data-toggle="modal" data-target="#modalExponenciacionBinaria">Exponencicación Binaria</a></li>
							<li class="file-tag tag-purple"><a href="#" data-toggle="modal" data-target="#modalExponenciacionEuler">Exponencicación por Teorema de Euler</a></li>
							<li class="file-tag tag-purple"><a href="#" data-toggle="modal" data-target="#modalAlgoritmoEuclides">Algoritmo de Euclides</a></li>
							<li class="file-tag tag-purple"><a href="#" data-toggle="modal" data-target="#modalPhiEuler">Phi de Euler</a></li>
							<li class="file-tag tag-purple"><a href="#" data-toggle="modal" data-target="#modalRaicesPrimitivas">Raices Primitivas</a></li>
						</ul>
						<hr>
						<span><i class="fa fa-pencil custom-text-green"></i> Matrices</span>
						<ul>
							<li class="file-tag tag-green"><a href="#" data-toggle="modal" data-target="#modalMatrices"> Que es una Matriz</a></li>
							<li class="file-tag tag-green"><a href="#" data-toggle="modal" data-target="#modalMultiplicacionMatrices">Multiplicacion de matrices</a></li>
							<li class="file-tag tag-green"><a href="#" data-toggle="modal" data-target="#modalDeterminanteMatrices">Determinante de una matriz</a></li>
							<li class="file-tag tag-green"><a href="#" data-toggle="modal" data-target="#modalCofactoresMatrices">Matriz de cofactores</a></li>
							<li class="file-tag tag-green"><a href="#" data-toggle="modal" data-target="#modalTranspuestaMatrices">Transpuesta de una matriz</a></li>
						</ul>
						<hr>
						<span><i class="fa fa-pencil custom-text-red"></i> Campo GF(2<sup>8</sup>)</span>
						<ul>
							<li class="file-tag tag-red"><a href="#" data-toggle="modal" data-target="#modalConvertirGF">Elementos en GF(2<sup>8</sup>)</a></li>
							<li class="file-tag tag-red"><a href="#" data-toggle="modal" data-target="#modalSumaGF">Suma en GF(2<sup>8</sup>)</a></li>
							<li class="file-tag tag-red"><a href="#" data-toggle="modal" data-target="#modalMultiplicacionGF">Multiplicación en GF(2<sup>8</sup>)</a></li>
							<li class="file-tag tag-red"><a href="#" data-toggle="modal" data-target="#modalInversoMultiplicativoGF">Inverso Multiplicativo en GF(2<sup>8</sup>)</a></li>
						</ul>
						<hr>
						<span><i class="fa fa-pencil custom-text-yellow"></i> Curva Elíptica</span>
						<ul>
							<li class="file-tag tag-yellow"><a href="#" data-toggle="modal" data-target="#modalCurvaEliptica">¿Qué es la Curva Elíptica?</a></li>
							<li class="file-tag tag-yellow"><a href="#" data-toggle="modal" data-target="#modalSumaPuntos">Suma de Puntos</a></li>
							<li class="file-tag tag-yellow"><a href="#" data-toggle="modal" data-target="#modalDobladoPuntos">Doblado de Puntos</a></li>
							<li class="file-tag tag-yellow"><a href="#" data-toggle="modal" data-target="#modalObtencionPuntos">Obtención de Putos</a></li>
						</ul>
						<hr>
						<span><i class="fa fa-pencil custom-text-blue"></i> Operaciones a nivel de Bits</span>
						<ul>
							
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<script src="../../../views/matematicaModular/sumaModular/sumaModular.js""></script>
		<script src="../../../views/matematicaModular/multiplicacionModular/multiplicacionModular.js""></script>
		<script src="../../../views/matematicaModular/inversoAditivo/inversoAditivo.js""></script>
		<script src="../../../views/matematicaModular/inversoMultiplicativo/inversoMultiplicativo.js""></script>
		<script src="../../../views/matematicaModular/exponenciacionClasica/exponenciacionClasica.js""></script>
		<script src="../../../views/matematicaModular/exponenciacionBinaria/exponenciacionBinaria.js""></script>
		<script src="../../../views/matematicaModular/exponenciacionEuler/exponenciacionEuler.js""></script>
		<script src="../../../views/matematicaModular/algoritmoEuclides/algoritmoEuclides.js""></script>
		<script src="../../../views/matematicaModular/phiEuler/phiEuler.js""></script>
		<script src="../../../views/campoGF2/convertirGF/convertirGF.js""></script>
		<script src="../../../views/campoGF2/sumaGF/sumaGF.js""></script>
		<script src="../../../views/campoGF2/multiplicacionGF/multiplicacionGF.js""></script>
		<script src="../../../views/campoGF2/inversoMultiplicativoGF/inversoMultiplicativoGF.js""></script>
		<script src="../../../views/curvaEliptica/obtencionPuntos/obtencionPuntos.js""></script>
		<script src="../../../views/curvaEliptica/sumaPuntos/sumaPuntos.js""></script>
		<script src="../../../views/curvaEliptica/dobladoPuntos/dobladoPuntos.js""></script>
		<script src="../../../includes/scripts/animacionTT/mensajes.js""></script>
	</body>
</html>